/*简单初始化*/
html{
    font-size: 100px;/*设置html字体大小以便rem*/
}
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
/*正文内容*/
.t_container{
    width: 100%;
    height: 100%;
    background: none;
    background-size: 100% 100%;
}
.t_h_bg{
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: url('../img/t_header.png') no-repeat;
    background-size: 100% 100%;
    text-align: center;
}
.t_h_bg span{
    font-size: 32px;
    color: #fff;
    display: inherit;
}
.t_main{
    text-align: center;
    height: 100%;
}
.t_box{
    width: 42%;
    height: 36%;
    /*background: url('../img/t_bg.png') no-repeat;*/
    background-color: #eeeeee;
    background-size: 100% 100%;
    display: inline-block;
    float: left;
    position: relative;
    margin-left: 5.5%;
    margin-top: 2%;
}
.t_title{
    text-align: center;
    font-size: 0.16rem;
    color: #fff;
    font-weight: bold;
    height: 0.4rem;
    line-height: 0.4rem;
    width: 100%;
    margin-top: 0.4rem;
}
.t_list{
    width: 100%;
    text-align: center;
    line-height: 0rem;
    height: 0.6rem;
}
.t_min{
    display: inline-block;
    width: 1.4rem;
    height: 0.4rem;
    line-height: 0.4rem;
    background: url('../img/t_border.png') no-repeat;
    background-size: 100% 100%;
    font-size: 0.16rem;
    color: #fff;
    position: relative;
}
.t_min i{
    position: absolute;
    display: inline-block;
    width: 0.20rem;
    height: 0.28rem;
    background: url('../img/top.png') no-repeat;
    background-size: 100% 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0.05rem;
}
.t_min i.down{
    background: url('../img/down.png') no-repeat;
    background-size: 100% 100%;
}
.t_number{
    font-size: 0.24rem;
}
.main_table{
    font-size: 16px;
}
.main_table tr{
    height: 42px;
}
.main_table{
    width: 88%;
    margin-top: 25px;
    margin: 0 auto;
}
.main_table table{
    width: 100%;
}
.main_table thead tr{
    height: 42px;
}
.main_table th{
    font-size: 14px;
    font-weight: 600;
    color:#61d2f7;
    text-align: center;
}

.main_table td{
    color:#fff;
    font-size: 14px;
    text-align: center;
}
.main_table tbody tr:nth-child(1),
.main_table tbody tr:nth-child(3),
.main_table tbody tr:nth-child(5){
    width: 98%;
    background-color: #2B3AA8;
    box-shadow:-10px 0px 15px #2C58A6 inset,   /*左边阴影*/
    10px 0px 15px #2C58A6 inset;  /*右边阴影*/
}

/** waiting **/

.waiting {
    z-index: 9999;
    background-color: transparent;
    margin: 10% 35% 0 35%;
    height: 30%;
    width: 30%;
    display: none;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    align-items: center;
}
.waiting .spinner {
    position: relative;
    margin: 15px;
}
.waiting .spinner .spin {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 10px;
    height: 20px;
    -webkit-animation: spin 2s ease-out infinite;
    animation: spin 2s ease-out infinite;
}
.waiting .spinner .spin .branch {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 2px;
    height: 0px;
}
.waiting .spinner .spin .branch:before, .waiting .spinner .spin .branch:after {
    content: '';
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #ffffff;/*F88863*/
    width: 5px;
    height: 5px;
    border-radius: 100%;
}
.waiting .spinner .spin .branch:before {
    top: 0%;
}
.waiting .spinner .spin .branch:after {
    top: 100%;
}
.waiting .spinner .spin .branch:nth-child(1) {
    -webkit-animation: extend1 2s ease-out infinite;
    animation: extend1 2s ease-out infinite;
    background-color: #ffffff;
}
.waiting .spinner .spin .branch:nth-child(1):before, .waiting .spinner .spin .branch:nth-child(1):after {
    width: 10px;
    height: 10px;
}
.waiting .spinner .spin .branch:nth-child(2) {
    -webkit-animation: extend2 2s ease-out infinite;
    animation: extend2 2s ease-out infinite;
}
.waiting .spinner .spin .branch:nth-child(3) {
    -webkit-animation: extend3 2s ease-out infinite;
    animation: extend3 2s ease-out infinite;
}
.waiting .spinner:nth-child(1) .spin {
    -webkit-animation-delay: 0.125s;
    animation-delay: 0.125s;
}
.waiting .spinner:nth-child(1) .spin .branch {
    -webkit-animation-delay: 0.125s;
    animation-delay: 0.125s;
}
.waiting .spinner:nth-child(2) .spin {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}
.waiting .spinner:nth-child(2) .spin .branch {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}
.waiting .spinner:nth-child(3) .spin {
    -webkit-animation-delay: 0.375s;
    animation-delay: 0.375s;
}
.waiting .spinner:nth-child(3) .spin .branch {
    -webkit-animation-delay: 0.375s;
    animation-delay: 0.375s;
}
.waiting .spinner:nth-child(4) .spin {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.waiting .spinner:nth-child(4) .spin .branch {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.waiting .spinner:nth-child(5) .spin {
    -webkit-animation-delay: 0.625s;
    animation-delay: 0.625s;
}
.waiting .spinner:nth-child(5) .spin .branch {
    -webkit-animation-delay: 0.625s;
    animation-delay: 0.625s;
}
.waiting .spinner:nth-child(6) .spin {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}
.waiting .spinner:nth-child(6) .spin .branch {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}
.waiting .spinner:nth-child(7) .spin {
    -webkit-animation-delay: 0.875s;
    animation-delay: 0.875s;
}
.waiting .spinner:nth-child(7) .spin .branch {
    -webkit-animation-delay: 0.875s;
    animation-delay: 0.875s;
}
.waiting .spinner:nth-child(8) .spin {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.waiting .spinner:nth-child(8) .spin .branch {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.waiting .spinner:nth-child(9) .spin {
    -webkit-animation-delay: 1.125s;
    animation-delay: 1.125s;
}
.waiting .spinner:nth-child(9) .spin .branch {
    -webkit-animation-delay: 1.125s;
    animation-delay: 1.125s;
}
.waiting .spinner:nth-child(10) .spin {
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s;
}
.waiting .spinner:nth-child(10) .spin .branch {
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s;
}
.waiting .spinner:nth-child(11) .spin {
    -webkit-animation-delay: 1.375s;
    animation-delay: 1.375s;
}
.waiting .spinner:nth-child(11) .spin .branch {
    -webkit-animation-delay: 1.375s;
    animation-delay: 1.375s;
}
.waiting .spinner:nth-child(12) .spin {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.waiting .spinner:nth-child(12) .spin .branch {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.waiting .spinner:nth-child(13) .spin {
    -webkit-animation-delay: 1.625s;
    animation-delay: 1.625s;
}
.waiting .spinner:nth-child(13) .spin .branch {
    -webkit-animation-delay: 1.625s;
    animation-delay: 1.625s;
}
.waiting .spinner:nth-child(14) .spin {
    -webkit-animation-delay: 1.75s;
    animation-delay: 1.75s;
}
.waiting .spinner:nth-child(14) .spin .branch {
    -webkit-animation-delay: 1.75s;
    animation-delay: 1.75s;
}
.waiting .spinner:nth-child(15) .spin {
    -webkit-animation-delay: 1.875s;
    animation-delay: 1.875s;
}
.waiting .spinner:nth-child(15) .spin .branch {
    -webkit-animation-delay: 1.875s;
    animation-delay: 1.875s;
}
.waiting .spinner:nth-child(16) .spin {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.waiting .spinner:nth-child(16) .spin .branch {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

@-webkit-keyframes spin {
    0%, 25% {
        -webkit-transform: translate(-50%, -50%) rotate(90deg);
        transform: translate(-50%, -50%) rotate(90deg);
    }
    75%, 100% {
        -webkit-transform: translate(-50%, -50%) rotate(180deg);
        transform: translate(-50%, -50%) rotate(180deg);
    }
}

@keyframes spin {
    0%, 25% {
        -webkit-transform: translate(-50%, -50%) rotate(90deg);
        transform: translate(-50%, -50%) rotate(90deg);
    }
    75%, 100% {
        -webkit-transform: translate(-50%, -50%) rotate(180deg);
        transform: translate(-50%, -50%) rotate(180deg);
    }
}
@-webkit-keyframes extend1 {
    0%, 25%, 75%, 100% {
        height: 0px;
    }
    49%,51% {
        height: 200px;
    }
}
@keyframes extend1 {
    0%, 25%, 75%, 100% {
        height: 0px;
    }
    49%,51% {
        height: 200px;
    }
}
@-webkit-keyframes extend2 {
    0%, 25%, 85%, 100% {
        height: 0px;
    }
    54%,56% {
        height: 300px;
    }
}
@keyframes extend2 {
    0%, 25%, 85%, 100% {
        height: 0px;
    }
    54%,56% {
        height: 300px;
    }
}
@-webkit-keyframes extend3 {
    0%, 25%, 75%, 100% {
        height: 0px;
    }
    40% {
        height: 100px;
    }
    60% {
        height: 0px;
    }
    70% {
        height: 20px;
    }
}
@keyframes extend3 {
    0%, 25%, 75%, 100% {
        height: 0px;
    }
    40% {
        height: 100px;
    }
    60% {
        height: 0px;
    }
    70% {
        height: 20px;
    }
}

