<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>物管理</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css"></link>
    <!--<link rel="stylesheet" type="text/css" href="../../static/bootstrap/css/bootstrap-theme.min.css"></link>-->
    <!-- FONTAWESOME STYLES-->
    <link href="../static/css/font-awesome.css" rel="stylesheet"/>
    <!-- MORRIS CHART STYLES-->

    <!-- CUSTOM STYLES-->
    <link href="../static/css/custom.css" rel="stylesheet"/>
    <!-- GOOGLE FONTS-->
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>-->
    <!-- TABLE STYLES-->
    <link href="../static/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>
    <style>
        label.error {
            color: red !important;
        }
        #content1,#content2,#content3,#content5,#content6
        {
            display: none;
            color: red;
            font-weight: bold;
        }
    </style>
    <script>
        function createPlugins(){

            var name = document.getElementById("pluginName").value;
            // console.log("name is "+document.getElementById("pluginName").value);

            var API = document.getElementById("pluginAPI").value;
            //var type = document.getElementById("pluginType").value;
            // var pluginURI = document.getElementById("pluginURI").value;
            var host = document.getElementById("pluginHost").value;
            var port = document.getElementById("port").value;
            var path = document.getElementById("pluginPath").value;
            console.log(name.length);
            // var pluginMethod = document.getElementById("pluginMethod").value;
            if(name.length==0)
            {   document.getElementById("content1").style.display = "block";
                $("#mm").modal('show');  //手动开启

            }
            if(API.length==0)
            {   document.getElementById("content3").style.display = "block";

            }
           /* if(type.length!=0)
            {   document.getElementById("content4").style.display = "block";

            }*/
            if(host.length==0)
            {   document.getElementById("content2").style.display = "block";

            }
            if(port.length==0)
            {   document.getElementById("content5").style.display = "block";

            }
            if(path.length==0)
            {   document.getElementById("content6").style.display = "block";

            }

        }
    </script>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="homepages">首页</a>
        </div>
        <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;"><a href="/" class="btn btn-danger square-btn-adjust" id="logout">退出登录</a></div>
    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li class="text-center">
                    <h3 href="/static/homepage.html" style="color:white;"><span class="glyphicon glyphicon-home"></span>物管理</h3>
                </li>
                <li><a href="homepage"><span class="glyphicon glyphicon-th-list"></span> <span> 设备列表</span></a></li>
                <li><a href="device_group"><span class="glyphicon glyphicon-inbox"></span> 设备组</a></li>
                <li><a href="services"><span class="glyphicon glyphicon-leaf"></span> <span> 服务管理</span></a></li>

                <li class="active" style="background:red;">
                    <a href="plugins">
                        <span class="glyphicon glyphicon-tags"></span>
                        <span> 插件管理</span>
                    </a>
                </li>
                <li><a href="rules"><span class="glyphicon glyphicon-search"></span>规则管理 </a></li>
                <li><a href="assess"><span class="glyphicon glyphicon-edit"></span> 能力评估</a></li>
            </ul>
        </div>
    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">插件组</h3>
                    <!--<button id="123">测试</button>-->
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="dataTables-example" class="table table-striped table-bordered table-hover">
                        </table>
                    </div>
                </div>
                <!--                <div class="panel-heading" style="background-color: cornflowerblue;">
                                    <h3 class="panel-title">查看服务</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table id="dataTables-show" class="table table-striped table-bordered table-hover">
                                        </table>
                                    </div>
                                </div>-->
            </div>
        </div>
    </div>
</div>

</div>


<!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
<!-- /. WRAPPER  -->
<!--创建模态框
<div class="modal fade" id="creModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">创建规则</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div style="display: none;">
                            规则名称
                            <input type="text" class="form-control" placeholder="" id="rulesName" disabled="disabled">
                            创建时间
                            <input type="text" class="form-control" placeholder="" id="createTime" disabled="disabled">
                            当前状态
                            <input type="text" class="form-control" placeholder="" id="currentStatus" disabled="disabled">
                        </div>
                        <b>服务名称</b>
                        <input type="text" value="" class="form-control" placeholder="必填" id="serviceName">
                        <b>服务描述</b>
                        <input type="text" value="" class="form-control" placeholder="必填" id="serviceDescription">
                        <b>服务类型</b>
                        <select type="text" class="form-control" id="serviceType">
                            <option value="platform">platform</option>
                            <option value="thrdparty">thirdparty</option>
                        </select>
                        <div id="hideDiv" style="display: block;">
                            <b>协议</b>
                            <input type="text"  value="" class="form-control" id="protocol">
                            <b>URL</b>
                            <input type="text"  value="" class="form-control" id="url">

                        </div>
                        <b>请求回复</b>
                        <select type="text" class="form-control" id="requireResponce">
                            <option value="true">true</option>
                            <option value="false">false</option>
                        </select>
                        &lt;!&ndash;<input type="text" class="form-control" placeholder="请输入请求回复" id="requireResponce">&ndash;&gt;
                        &lt;!&ndash;</div>
                        <div class="col-lg-6">&ndash;&gt;
                        <b>服务体</b><br>
                        &nbsp;&nbsp;&nbsp;方法名
                        <input type="text" value="" class="form-control" placeholder="" id="methodName">
                        <div id="param">
                            &nbsp;&nbsp;&nbsp;参数<br>
                            <input type="text" value="" placeholder="" id="params" placeholder="形如(status:true)"> &nbsp;&nbsp;&nbsp;<span
                                id="addParams">+</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cresModal"
                        id="confirmcre">确认
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
&lt;!&ndash;创建模态框&ndash;&gt;
<div class="modal fade" id="cresModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                &lt;!&ndash;<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>&ndash;&gt;
                &lt;!&ndash;<h4 class="modal-title" id="myModalLabel">删除设备</h4>&ndash;&gt;
            </div>
            <div class="modal-body">
                <p>创建成功！</p>
            </div>
            <div class="modal-footer">
                &lt;!&ndash;<button type="button" class="btn btn-primary" id="delete" data-toggle="modal" data-target="#delsModal">确认</button>&ndash;&gt;
                <button type="button" class="btn btn-default" data-dismiss="modal" id="last">确定</button>
            </div>
        </div>
    </div>
</div>-->
<!-- 模态框（Modal） -->
<div class="modal fade" id="mm" tabindex="-1" role="dialog" aria-labelledby="mmLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="text-primary" id="mmLabel" style="font-weight: bold">添加插件</h4>
            </div>
            <div class="modal-body" id="createPlugins">
                <form class="form-horizontal" role="form" action="#" id="createServiceGroup">

                    <div class="form-group has-feedback">
                        <label class="col-sm-3 control-label" style='text-align: left;'><span style="color: red;">* </span>名称</label>
                        <div class="col-sm-9">
                            <input type="text" class='add form-control' placeholder="必填" id="pluginName" name="pluginName">
                        </div>
                        <div class="col-sm-9 col-sm-offset-3" id='content1'> 名称不能为空 </div>
                    </div>

                    <div class="form-group has-feedback">
                        <label  class="col-sm-3 control-label" style='text-align: left;'>&nbsp;&nbsp;&nbsp;描述</label>
                        <div class="col-sm-9" >
                            <input type="text" class='add form-control'  id="groupName"/>
                            <!--placeholder="请输入设备组名"-->
                        </div>
                        <div class="col-sm-9 col-sm-offset-3"></div>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-sm-3 control-label" style='text-align: left;'><span style="color: red;">* </span>API令牌</label>
                        <div class="col-sm-9">
                            <input type="text" class='add form-control' placeholder="必填" id="pluginAPI" name="pluginAPI">
                        </div>
                        <div class="col-sm-9 col-sm-offset-3" id="content3" >API令牌不能为空</div>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-sm-3 control-label" style='text-align: left;'><span style="color: red;">* </span>插件类型</label>
                        <div class="col-sm-9">
                            <input type="text" class='add form-control' placeholder="REST API Call Plugin" id="pluginType" name="pluginType" readonly>
                        </div>
                        <div class="col-sm-9 col-sm-offset-3" ></div>
                    </div>

                    <div>
                        <h4 class="text-warning" style="font-weight: bold">插件配置</h4>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-sm-3 control-label" style='text-align: left;font-size: 12px'><span style="color: red;">* </span>URI Scheme name</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="pluginURI" name="pluginURI">
                                <option>HTTP</option>
                                <option>HTTPS</option>
                            </select>
                        </div>
                        <div class="col-sm-9 col-sm-offset-3" ></div>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-sm-3 control-label" style='text-align: left;'><span style="color: red;">* </span>Host</label>
                        <div class="col-sm-9">
                            <input type="text" class='add form-control' placeholder="必填" id="pluginHost" name="pluginHost">
                        </div>
                        <div class="col-sm-9 col-sm-offset-3" id="content2">Host不能为空</div>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-sm-3 control-label" style='text-align: left;'><span style="color: red;">* </span>Port</label>
                        <div class="col-sm-9">
                            <input type="text" class='add form-control' placeholder="必填" id="port" name="port">
                        </div>
                        <div class="col-sm-9 col-sm-offset-3" id="content5" >Port不能为空</div>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-sm-3 control-label" style='text-align: left;'><span style="color: red;">* </span>Base Path</label>
                        <div class="col-sm-9">
                            <input type="text" class='add form-control' placeholder="必填" id="pluginPath" name="pluginPath">
                        </div>
                        <div class="col-sm-9 col-sm-offset-3" id="content6" >Base Path不能为空</div>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-sm-3 control-label" style='text-align: left;font-size: 12px'><span style="color: red;">* </span>Authentication &nbsp;&nbsp;&nbsp;method</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="pluginMethod" name="pluginMethod">
                                <option>No authentication</option>
                                <option>Basic authentication</option>
                            </select>
                        </div>
                        <div class="col-sm-9 col-sm-offset-3"></div>
                    </div>

                    <div class="modal-footer">
                        <!--<button type="submit" class="btn btn-primary" id="create" data-toggle="modal" data-target="#createSuc">创建</button>-->
                        <button type="submit" class="btn btn-primary" id="create" onclick="createPlugins()">创建</button>
                        <button type="button" class="btn btn-default " data-dismiss="modal"  id="cancel">取消</button>
                    </div>

                </form>
            </div>
            <!--<button type="submit" class="btn btn-primary" id="create" onclick="createPlugins()">创建</button>-->
            <!--<div><button type="submit" class="btn btn-primary" id="create" onclick="createPlugins()">创建</button></div>-->


        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal fade" id="createSuc" tabindex="-1" role="dialog" aria-labelledby="mmLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <!--<h4 class="modal-title" id="myModalLabel">删除设备</h4>-->
            </div>
            <div class="modal-body">
                <p>创建成功！</p>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-primary" id="delete" data-toggle="modal" data-target="#delsModal">确认</button>-->
                <button type="button" class="btn btn-default" data-dismiss="modal" id="lastCreate">确定</button>
            </div>
        </div>
    </div>
</div>

<!--删除规则模态框1-->
<div class="modal fade" id="delSerModal" tabindex="-1" role="dialog" aria-labelledby="delSerModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="delSerModalLabel">删除规则</h4>
            </div>
            <div class="modal-body">
                <p>确认删除吗？</p>
                <input type="hidden" id="SerDel" value=""/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#delsSerModal"
                        id="SerDelete">确认
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<!--删除规则2-->
<div class="modal fade" id="delsSerModal" tabindex="-1" role="dialog" aria-labelledby="delSerModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <!--<h4 class="modal-title" id="myModalLabel">删除设备</h4>-->
            </div>
            <div class="modal-body">
                <p>删除成功！</p>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-primary" id="delete" data-toggle="modal" data-target="#delsModal">确认</button>-->
                <button type="button" class="btn btn-default" data-dismiss="modal" id="lastSer">确定</button>
            </div>
        </div>
    </div>
</div>


<!--&lt;!&ndash;删除服务模态框1&ndash;&gt;
<div class="modal fade" id="delServiceModal" tabindex="-1" role="dialog" aria-labelledby="delServiceModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="delServiceModalLabel">删除服务</h4>
            </div>
            <div class="modal-body">
                <p>确认删除吗？</p>
                <input type="hidden" id="ServiceDel" value=""/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#delsServiceModal"
                        id="ServiceDelete">确认
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
&lt;!&ndash;删除服务模态框2&ndash;&gt;
<div class="modal fade" id="delsServiceModal" tabindex="-1" role="dialog" aria-labelledby="delServiceModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                &lt;!&ndash;<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>&ndash;&gt;
                &lt;!&ndash;<h4 class="modal-title" id="myModalLabel">删除设备</h4>&ndash;&gt;
            </div>
            <div class="modal-body">
                <p>删除成功！</p>
            </div>
            <div class="modal-footer">
                &lt;!&ndash;<button type="button" class="btn btn-primary" id="delete" data-toggle="modal" data-target="#delsModal">确认</button>&ndash;&gt;
                <button type="button" class="btn btn-default" data-dismiss="modal" id="lastService">确定</button>
            </div>
        </div>
    </div>
</div>-->


<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/jquery.validate.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="../static/js/jquery.metisMenu.js"></script>
<!-- DATA TABLE SCRIPTS -->
<script src="../static/js/plugins.js"></script>
<script src="../static/dataTables/jquery.dataTables.js"></script>
<script src="../static/dataTables/dataTables.bootstrap.js"></script>
<script>
    // $(document).ready(function () {
    //     $('#dataTables-example').dataTable();
    // });
</script>
<!-- CUSTOM SCRIPTS -->
<script src="../static/js/custom.js"></script>
<script src="../static/js/logout.js"></script>
<script src="../static/js/createPlugins.js"></script>

</body>
</html>
