<style type="text/css">
/*2、margin负值法*/
html,body{
	margin: 0;
	height:100%;
}	
#main{
	width: 100%;
	height: 100%;
	float: left;

}
#main #body{
	margin: 0 210px;
	/* background-color: #ffe6b8; */
	height: 100%;
}
#left,#right{
	width: 200px;
	height: 100%;
	float: left;
	/* background-color: #a0b3d6; */
}
#left{
	margin-left: -100%;
}
#right{
	margin-left: -200px;
}
</style>


<ul class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li><a href="/"><i class="fa fa-camera"></i>  首页 </a></li>
    <li class="active">实时分析</li>
</ul>
<section class="panel panel-default">
<div class="panel-body text-center">

        <div id="main">
                <div id="body">
                  <!-- <form class="form-horizontal">
                      <div class="form-group">
                          <label for="inputEmail3" class="col-sm-2 control-label">度量</label>
                          <div class="col-sm-10">
                            <div style="width:542px;height:34px;" class="form-control" id="inputEmail3" ng-model="dl" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputPassword3" class="col-sm-2 control-label">维度</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputPassword3" ng-model="wd" ng-change="weidu()"style=" border-bottom: black 1px solid;
                            border-top-style: none;
                            border-right-style: none;
                            border-left-style: none;
                            background-color: transparent;">
                          </div>
                        </div>
                </form> -->
                <div>
                    <my-line id="line" legend="legend" item="item" data="data" option="barOption"></my-line>
                    <my-new-bar id="bar" legend="appLegend" item="appItem" data="appData" title="appTitle"></my-new-bar>
                    <div class="panel-body" ng-show="isLoadingBug">{{loadingTextBug}}</div>
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="control-label">起始日期
                                    <input datetimepicker type="text" ng-model="bugLineStartDate" class="input-sm input-s form-control" size="16" ng-change="bugLineChange()"
                                        maxdate="bugLineEndDate" option="dateOption">
                                </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label">结束日期
                                    <input datetimepicker ng-model="bugLineEndDate" class="input-sm input-s form-control" size="16" mindate="bugLineStartDate"
                                        type="text" ng-change="bugLineChange()" option="dateOption" >
                                </label>
                        </div>
                    </form>
                    <ul id="bug-tab" class="nav nav-tabs">
                        <li><a href="#bug-summonth" data-toggle="tab">年初至今</a></li>
                        <li class="active"><a href="#bug-permonth" data-toggle="tab"> 月视图</a></li>
                    </ul>
                    <span style="float: right;"><b class="badge bg-info pull-right">本月总天数：30</b></span>
                    <my-pie id="pie" data="pieData"></my-pie>
                </div>
                </div>
            </div>
            <div id="left">
                <!-- <div class="panel panel-default">
                    <div class="panel-heading">
                        组件
                      </div>
                      <div class="panel-body">时序图
                        <button disabled ng-click="line()" style="background-color:transparent;width: 32px;height: 32px;background-image:url('./assets/dataAnalyze/images/line.png')"></button>
                        <button disabled ng-click="bar()" style="background-color:transparent;width: 32px;height: 32px;background-image:url('./assets/dataAnalyze/images/bar.png')"></button>                        
                        <button disabled ng-click="pie()" style="background-color:transparent;width: 32px;height: 32px;background-image:url('./assets/dataAnalyze/images/pie.png')"></button>                       
                      </div>
                </div>
                          <button class="btn btn-primary" style="margin:5px;" data-toggle="modal" data-target="#myModal">选择数据源</button>  
                          <div>
                              <div id="time;" class="div" ondrop="drop(event)" ondragover="allowDrop(event)">
                                  <p draggable="true" ondragstart="drag(event)" id="time;" width="80" height="30">  时间</p>
                              </div>
                              <div id="humidity;" class="div" ondrop="drop(event)" ondragover="allowDrop(event)">
                                  <p draggable="true" ondragstart="drag(event)" id="humidity;" width="80" height="30">  湿度</p>
                              </div>
                              <div id="temprature;" class="div" ondrop="drop(event)" ondragover="allowDrop(event)">
                                  <p draggable="true" ondragstart="drag(event)" id="temprature;" width="80" height="30">  温度</p>
                              </div>
                          </div>              -->
            </div>	
            <div id="right">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        控制面板
                      </div>
                      <div class="panel-body">
                          <label for="">数据读取频率</label>
                          <select name="" id="">
                              <option value="">2s/次</option>
                              <option value="">4s/次</option>
                              <option value="">6s/次</option>
                          </select>
                        <button ng-click="stop()">确定</button>
                      </div>
                </div>
            </div>
        </div>        
</section>

 <!-- Modal -->
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">选择数据源</h4>
            </div>
            <div class="modal-body">
              <select></select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
      </div>
</div>
<script type="text/javascript">
  function allowDrop(ev){
      ev.preventDefault();

  }

  function drag(ev){
      ev.dataTransfer.setData("Text",ev.target.id);
  }

  function drop(ev){
      ev.preventDefault();
      var data=ev.dataTransfer.getData("Text");
      ev.target.appendChild(document.getElementById(data));
  }
</script>
    
