
* {
	filter: none;
}

/* http://meyerweb.com/eric/tools/css/neset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, h1, p, a, img, strong, ul, li, header, nav, section{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
header, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ul {
	list-style: none;
}
strong {
	font-weight: bold;
}

/**  MAIN STYLES  **/

html {
	height: 100%;
}

body {
	margin:0;
	padding: 0;
	height: 100%;
	font-family: arial;
	font-size: 12px;
	background: #3c3e40;/**#f7f7f7，3c3e40**/
	/**background-image: url("../images/bgpicture.png");**/
	overflow-x: hidden;
	color: #3B3E40;
}

p {
	margin: 0 0 10px 0;
	line-height: 15px;
}

a:focus {
	-webkit-tap-highlight-color: transparent;
}

a:link, a:active, a:visited {
	text-decoration: none;
	color: #5daced;
}

*:focus {
	border: none;
	outline: none;
}

input[type="text"], input[type="email"], input[type="search"], input[type="password"], textarea {
	-webkit-appearance: none;
	background: #fff;
}

input {
	padding:10px;
	font-size: 12px;
	font-family: Arial;
	color:#606060;
	border:1px solid #e3e3e3;
	background: #fff;
	width: 100%;
	margin: 0 0 15px 0;
	
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

input:focus {
	border: 1px solid #5DACED;
	
	box-shadow: inset 0 0 8px rgba(93, 127, 237, 0.3);
	-moz-box-shadow: inset 0 0 8px rgba(93, 127, 237, 0.3);
	-webkit-box-shadow: inset 0 0 8px rgba(93, 127, 237, 0.3);
}

header.main {
	background: #208ed3; /* Old browsers 208ed3*/
	background: -moz-linear-gradient(top, #208ed3 0%, #0272bd 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* IE10+ */
	background: linear-gradient(to bottom, #208ed3 0%,#0272bd 100%); /* W3C */
	padding: 15px 25px;
	height: 30px;
	overflow: hidden;
	border-bottom: 1px solid #5daced;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	position: relative;
	top: 0;
	width: 100%;
	height: 60px;
	z-index: 1000;
}

header h1 {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	letter-spacing: -1px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	float: left;
	width: 100%;
}

header h1 strong {
	font-weight: 600;
}

header input {
	float: right;
	border: none;
	padding: 5px 10px;
	width: 20%;
	color: #8a8a8a;
	margin: -20px 0 0 0;
	
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}

header input:focus {
	border: none;
	outline: none;
}

section.content {
	width: 83.5%;
	float: left;
	margin: 75px 0 0 0;
	padding: 25px 0 25px 1.73%;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/**  ALERTS  **/

section.alert {
	border-bottom:  1px solid #e3e3e3;
	background: #e9e9e9;/**#e9e9e9**/
	width: 100%;
	margin-top: -4px;
	padding: 5px 0 0 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position:  absolute;
	height: 68px;
	overflow: hidden;
}

section.alert button {
	right: 25px;
	margin: 17px 0 0 5px;
	float: right;
}

section.alert .green {
	border: 1px solid #719e37;
	background: #9bc747; /* Old browsers */
	background: -moz-linear-gradient(top, #9bc747 0%, #82bd42 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9bc747), color-stop(100%,#82bd42)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #9bc747 0%,#82bd42 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #9bc747 0%,#82bd42 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #9bc747 0%,#82bd42 100%); /* IE10+ */
	background: linear-gradient(to bottom, #9bc747 0%,#82bd42 100%); /* W3C */
}

/*section.alert .orange, div.orange, button.orange {
	border: 1px solid #f09a2b;
	background: #FEAE46;
	background: -moz-linear-gradient(top, #FE962B 0%, #FEAE46 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FE962B), color-stop(100%,#FEAE46));
	background: -webkit-linear-gradient(top, #FE962B 0%,#FEAE46 100%);
	background: -o-linear-gradient(top, #FE962B 0%,#FEAE46 100%);
	background: -ms-linear-gradient(top, #FE962B 0%,#FEAE46 100%);
	background: linear-gradient(to bottom, #FE962B 0%,#FEAE46 100%);
}

section.alert .red, div.red, button.red {
	border: 1px solid #af2b1b;
	background: #bc3423;
	background: -moz-linear-gradient(top, #bc3423 0%, #cd4433 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bc3423), color-stop(100%,#cd4433));
	background: -webkit-linear-gradient(top, #bc3423 0%,#cd4433 100%);
	background: -o-linear-gradient(top, #bc3423 0%,#cd4433 100%);
	background: -ms-linear-gradient(top, #bc3423 0%,#cd4433 100%);
	background: linear-gradient(to bottom, #bc3423 0%,#cd4433 100%);
}*/

section.user {
	border-bottom: 1px solid #2a2a2a;
	background:  #3B3E40;
	height: 66px;
	position: relative;
	height: 65px;
	width: 100%;
	z-index: 1000;
}

section.user .profile-img {
	display: table-cell;
	height: 65px;
	width: 310px;
	vertical-align: middle;
}

section.user .profile-img p {
	color: #fff;
	font-weight : bold;
	margin: 5px 0 0 75px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}

section.user img {
	position: absolute;
	border: 2px solid #f0f0f0;
	top: 50%;
	left: 20px;
	margin: -20px 0 0 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); 
}

section.user .buttons {
	float: right;
	width: 300px;
	height: 66px;
	padding-top: 20px;
}

section.user .buttons button {
	position: relative;
}

section.user .button .pip {
	display: block;
	background: #cd4433;
	padding: 2px 5px;
	position: absolute;
	top: -5px;
	right: -5px;
	width: auto;
	font-size: 9px;
	border: 1px solid #222;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

button.ico-font {
	font-family: "entypo";
	font-size: 30px;
	line-height: 0px;
	padding: 17px 10px;
	margin: 0px 0 -14px 0;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	background: #208ed3;
	background: -moz-linear-gradient(top, #208ed3 0%, #0272bd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#208ed3), color-stop(100%,#0272bd));
	background: -webkit-linear-gradient(top, #208ed3 0%,#0272bd 100%);
	background: -o-linear-gradient(top, #208ed3 0%,#0272bd 100%);
	background: -ms-linear-gradient(top, #208ed3 0%,#0272bd 100%);
	background: linear-gradient(to bottom, #208ed3 0%,#0272bd 100%);
	opacity: 0;
}

.button, button {
	border: 1px solid #323537;
	padding: 10px 15px;
	color: #fff;
	position: relative;
	margin: 0 0 0 5px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2); 
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
	z-index: 500;
	
	background: #4b4f51; /* Old browsers */
	 background: -moz-linear-gradient(top, #4b4f51 0%, #414547 100%); /* FF3.6+ */ 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b4f51), color-stop(100%,#414547)); /* Chrome,Safari4+ */ 
	background: -webkit-linear-gradient(top, #4b4f51 0%,#414547 100%); /* Chrome10+,Safari5.1+ */
	 background: -o-linear-gradient(top, #4b4f51 0%,#414547 100%); /* Opera 11.10+ */
	 background: -ms-linear-gradient(top, #4b4f51 0%,#414547 100%); /* IE10+ */ 
	background: linear-gradient(to bottom, #4b4f51 0%,#414547 100%); /* W3C */ 
	cursor: pointer;
}

.button a {
	color: #fff;
}

.user input{
	background: #4b4f51; /* Old browsers */
	background: -moz-linear-gradient(top, #4b4f51 0%, #414547 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b4f51), color-stop(100%,#414547)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4b4f51 0%,#414547 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4b4f51 0%,#414547 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4b4f51 0%,#414547 100%); /* IE10+ */
	background: linear-gradient(to bottom, #4b4f51 0%,#414547 100%); /* W3C */
	color: #ffffff;
	border: 1px solid #323537;
	padding: 10px 15px;
	margin: 0 0 0 5px;
	position: relative;
	width: 80px;
}

.user .blue {
	border: 1px solid #323537;
}

.blue {
	border: 1px solid #0f70ad;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	background: #208ed3; /* Old browsers */
	background: -moz-linear-gradient(top, #208ed3 0%, #0272bd 100%); /* FF3.6+ */ 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#208ed3), color-stop(100%,#0272bd)); /* Chrome,Safari4+ */ 
	background: -webkit-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* Chrome10+,Safari5.1+ */ 
	background: -o-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* Opera 11.10+ */ 
	background: -ms-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* IE10+ */ 
	background: linear-gradient(to bottom, #208ed3 0%,#0272bd 100%); /* W3C */
}

button.green {
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	border: 1px solid #719e37;
	margin: 0;
	background: #9bc747; /* Old browsers */ 
	background: -moz-linear-gradient(top, #9bc747 0%, #82bd42 100%); /* FF3.6+ */ 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9bc747), color-stop(100%,#82bd42)); /* Chrome,Safari4+ */ 
	background: -webkit-linear-gradient(top, #9bc747 0%,#82bd42 100%); /* Chrome10+,Safari5.1+ */ 
	background: -o-linear-gradient(top, #9bc747 0%,#82bd42 100%); /* Opera 11.10+ */ 
	background: -ms-linear-gradient(top, #9bc747 0%,#82bd42 100%); /* IE10+ */ 
	background: linear-gradient(to bottom, #9bc747 0%,#82bd42 100%); /* W3C */ 
}

/**  WIDGETS **/

section.widget {
	background: #fff;
	border: 1px solid #e3e3e3;
	margin: 0 0 25px 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	min-height: 600px;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px; 
	box-shadow: 0 2px 2px rgba(204, 204, 204, 0.2);
	-webkit-box-shadow: 0 2px 2px rgba(204, 204, 204, 0.2);
	-moz-box-shadow: 0 2px 2px rgba(204, 204, 204, 0.2);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/**  MENU  **/

nav {
	height: 10000px;
	min-height: 100%;
	width: 14.58%;
	background: #3B3E40;
	float: left;
	position: relative;
	z-index: 500;

	box-shadow: inset -20px 0 10px -20px #000;
	-moz-box-shadow: inset -20px 0 10px -20px #000;
	-webkit-box-shadow: inset -20px 0 10px -20px #000;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul li {
	background: #3B3E40;
	border-bottom: 1px solid #27292a;
	border-top: 1px solid #46494b;
	
	box-shadow: inset -20px 0 10px -20px #000;
	-moz-box-shadow: inset -20px 0 10px -20px #000;
	-webkit-box-shadow: inset -20px 0 10px -20px #000;	
}

nav ul li:first-child {
	border-top: none;
}

nav ul li:last-child {
	border-bottom: none;
}

nav ul li a {
	color: #fff !important;
	display: block;
	text-decoration: none;
	padding: 20px 7.14% 20px 2.38%;
	width: 90.47%;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
	-moz-text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
	-webkit-text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
	position:relative;
	font-size: 13px;
}

nav ul li:hover, nav ul li.section {
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	background: #208ed3; /* Old browsers */
	background: -moz-linear-gradient(top, #208ed3 0%, #0272bd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#208ed3), color-stop(100%,#0272bd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* IE10+ */
	background: linear-gradient(to bottom, #208ed3 0%,#0272bd 100%); /* W3C */
	border-top: 1px solid #5daced;
}

span.icon {
	font-family: "entypo";
	color: white;
	font-size: 20px;
	display: inline-block;
	width: 40%;
	height: 20px;
	line-height: 30px;
	text-align: center;
}

/**  PIPS  **/

.pip {
	display: block;
	background: #313131;
	padding: 3px 10px;
	position: absolute;
	top: 29px;
	right: 15px;
	color: white;
	text-align: center;
	font-size: 10px;
	border-top: 1px solid #1c1f23;
	border-bottom: 1px solid #4c4f56;
	line-height: 8px;
	height: 10px;
	
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}

button:hover, .button:hover, .user input:hover {
	border: 1px solid rgba(0, 0, 0, .3);
	background: #313131;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	cursor: pointer;
}

/** LOGIN  **/

body.login {
	background: #3B3E40;
}

.login section {
	width: 300px;
	margin: 200px auto 0 auto;
	text-align: center;
}

.login section p a {
	color: #ccc;
}

.login section p {
	margin-top: 15px;
}

.login section h1 {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	margin-bottom: 15px;
	letter-spacing: -1px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.login section h1 span {
	font-weight: 600;
}

.login input {
	border: 1px solid #323537;
}

.login button {
	border: 1px solid #323537;
	width: 100%;
	margin: 0;
	font-weight: bold;
}

.login button:hover {
	color: #3B3E40;
	text-shadow: none;
	background: #ededee !important;
	background: -moz-linear-gradient(top, #ededee 0%, #dddddd 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededee), color-stop(100%,#dddddd)) !important;
	background: -webkit-linear-gradient(top, #ededee 0%,#dddddd 100%) !important;
	background: -o-linear-gradient(top, #ededee 0%,#dddddd 100%) !important;
	background: -ms-linear-gradient(top, #ededee 0%,#dddddd 100%) !important;
	background: linear-gradient(to bottom, #ededee 0%,#dddddd 100%) !important;
}

.login button.loading {
	background: #9bc747;
	border: 1px solid #323537;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	width: 100%;
	height: 35px;
	-webkit-transition: width .4s ease-in-out;
	-moz-transition: width .4s ease-in-out;
	-ms-transition: width .4s ease-in-out;
	-o-transition: width .4s ease-in-out;
	transition: width .4s ease-in-out;
	-webkit-background-size: 30px 30px;
	-moz-background-size: 30px 30px;
	background-size: 30px 30px;
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)), color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	-webkit-animation: animate-stripes 3s linear infinite;
	-moz-animation: animate-stripes 3s linear infinite;
}

/** Card **/
.card {

	width:
			200px;
	height: 150px;

	box-shadow:
			0 4px
			8px
			0 rgba(0,
			0, 0,
			0.2), 0 6px
			20px
			0 rgba(0,
			0, 0,
			0.19);

	text-align:
			center;

	float:
			left;

	margin-right:
			10px;

}


.header {

	color:
			#fff;

	padding:
			10px;

	font-size:
			15px;

	height:
			60px;



}

.body {

	padding:
			10px;
}

.body p {

	margin-left:
			5px;
}

/** waiting **/

.waiting {
	background-color: transparent;
	margin: 10% 35% 0 35%;
	height: 30%;
	width: 30%;
	display: none;
	flex-direction: row;
	justify-content: center;
	position: absolute;
	align-items: center;
}
.waiting .spinner {
	position: relative;
	margin: 15px;
}
.waiting .spinner .spin {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 10px;
	height: 20px;
	-webkit-animation: spin 2s ease-out infinite;
	animation: spin 2s ease-out infinite;
}
.waiting .spinner .spin .branch {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 2px;
	height: 0px;
}
.waiting .spinner .spin .branch:before, .waiting .spinner .spin .branch:after {
	content: '';
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #F88863;
	width: 5px;
	height: 5px;
	border-radius: 100%;
}
.waiting .spinner .spin .branch:before {
	top: 0%;
}
.waiting .spinner .spin .branch:after {
	top: 100%;
}
.waiting .spinner .spin .branch:nth-child(1) {
	-webkit-animation: extend1 2s ease-out infinite;
	animation: extend1 2s ease-out infinite;
	background-color: #AC4147;
}
.waiting .spinner .spin .branch:nth-child(1):before, .waiting .spinner .spin .branch:nth-child(1):after {
	width: 10px;
	height: 10px;
}
.waiting .spinner .spin .branch:nth-child(2) {
	-webkit-animation: extend2 2s ease-out infinite;
	animation: extend2 2s ease-out infinite;
}
.waiting .spinner .spin .branch:nth-child(3) {
	-webkit-animation: extend3 2s ease-out infinite;
	animation: extend3 2s ease-out infinite;
}
.waiting .spinner:nth-child(1) .spin {
	-webkit-animation-delay: 0.125s;
	animation-delay: 0.125s;
}
.waiting .spinner:nth-child(1) .spin .branch {
	-webkit-animation-delay: 0.125s;
	animation-delay: 0.125s;
}
.waiting .spinner:nth-child(2) .spin {
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}
.waiting .spinner:nth-child(2) .spin .branch {
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}
.waiting .spinner:nth-child(3) .spin {
	-webkit-animation-delay: 0.375s;
	animation-delay: 0.375s;
}
.waiting .spinner:nth-child(3) .spin .branch {
	-webkit-animation-delay: 0.375s;
	animation-delay: 0.375s;
}
.waiting .spinner:nth-child(4) .spin {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
.waiting .spinner:nth-child(4) .spin .branch {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
.waiting .spinner:nth-child(5) .spin {
	-webkit-animation-delay: 0.625s;
	animation-delay: 0.625s;
}
.waiting .spinner:nth-child(5) .spin .branch {
	-webkit-animation-delay: 0.625s;
	animation-delay: 0.625s;
}
.waiting .spinner:nth-child(6) .spin {
	-webkit-animation-delay: 0.75s;
	animation-delay: 0.75s;
}
.waiting .spinner:nth-child(6) .spin .branch {
	-webkit-animation-delay: 0.75s;
	animation-delay: 0.75s;
}
.waiting .spinner:nth-child(7) .spin {
	-webkit-animation-delay: 0.875s;
	animation-delay: 0.875s;
}
.waiting .spinner:nth-child(7) .spin .branch {
	-webkit-animation-delay: 0.875s;
	animation-delay: 0.875s;
}
.waiting .spinner:nth-child(8) .spin {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
.waiting .spinner:nth-child(8) .spin .branch {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
.waiting .spinner:nth-child(9) .spin {
	-webkit-animation-delay: 1.125s;
	animation-delay: 1.125s;
}
.waiting .spinner:nth-child(9) .spin .branch {
	-webkit-animation-delay: 1.125s;
	animation-delay: 1.125s;
}
.waiting .spinner:nth-child(10) .spin {
	-webkit-animation-delay: 1.25s;
	animation-delay: 1.25s;
}
.waiting .spinner:nth-child(10) .spin .branch {
	-webkit-animation-delay: 1.25s;
	animation-delay: 1.25s;
}
.waiting .spinner:nth-child(11) .spin {
	-webkit-animation-delay: 1.375s;
	animation-delay: 1.375s;
}
.waiting .spinner:nth-child(11) .spin .branch {
	-webkit-animation-delay: 1.375s;
	animation-delay: 1.375s;
}
.waiting .spinner:nth-child(12) .spin {
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
}
.waiting .spinner:nth-child(12) .spin .branch {
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
}
.waiting .spinner:nth-child(13) .spin {
	-webkit-animation-delay: 1.625s;
	animation-delay: 1.625s;
}
.waiting .spinner:nth-child(13) .spin .branch {
	-webkit-animation-delay: 1.625s;
	animation-delay: 1.625s;
}
.waiting .spinner:nth-child(14) .spin {
	-webkit-animation-delay: 1.75s;
	animation-delay: 1.75s;
}
.waiting .spinner:nth-child(14) .spin .branch {
	-webkit-animation-delay: 1.75s;
	animation-delay: 1.75s;
}
.waiting .spinner:nth-child(15) .spin {
	-webkit-animation-delay: 1.875s;
	animation-delay: 1.875s;
}
.waiting .spinner:nth-child(15) .spin .branch {
	-webkit-animation-delay: 1.875s;
	animation-delay: 1.875s;
}
.waiting .spinner:nth-child(16) .spin {
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}
.waiting .spinner:nth-child(16) .spin .branch {
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}

@-webkit-keyframes spin {
	0%, 25% {
		-webkit-transform: translate(-50%, -50%) rotate(90deg);
		transform: translate(-50%, -50%) rotate(90deg);
	}
	75%, 100% {
		-webkit-transform: translate(-50%, -50%) rotate(180deg);
		transform: translate(-50%, -50%) rotate(180deg);
	}
}

@keyframes spin {
	0%, 25% {
		-webkit-transform: translate(-50%, -50%) rotate(90deg);
		transform: translate(-50%, -50%) rotate(90deg);
	}
	75%, 100% {
		-webkit-transform: translate(-50%, -50%) rotate(180deg);
		transform: translate(-50%, -50%) rotate(180deg);
	}
}
@-webkit-keyframes extend1 {
	0%, 25%, 75%, 100% {
		height: 0px;
	}
	49%,51% {
		height: 200px;
	}
}
@keyframes extend1 {
	0%, 25%, 75%, 100% {
		height: 0px;
	}
	49%,51% {
		height: 200px;
	}
}
@-webkit-keyframes extend2 {
	0%, 25%, 85%, 100% {
		height: 0px;
	}
	54%,56% {
		height: 300px;
	}
}
@keyframes extend2 {
	0%, 25%, 85%, 100% {
		height: 0px;
	}
	54%,56% {
		height: 300px;
	}
}
@-webkit-keyframes extend3 {
	0%, 25%, 75%, 100% {
		height: 0px;
	}
	40% {
		height: 100px;
	}
	60% {
		height: 0px;
	}
	70% {
		height: 20px;
	}
}
@keyframes extend3 {
	0%, 25%, 75%, 100% {
		height: 0px;
	}
	40% {
		height: 100px;
	}
	60% {
		height: 0px;
	}
	70% {
		height: 20px;
	}
}

/** Mobile **/
/*@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {

	body {
		padding-top: 130px;
		position: absolute;
		width: 100%;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.testing {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1500;
	}

	nav {
		width: 215px;
		overflow: hidden;
		position: absolute;
		left: -215px;
		top:126px !important;
		z-index: 1000;

		box-shadow: 1px 0 rgba(0, 0, 0, 0.9);
		-webkit-box-shadow: 1px 0 rgba(0, 0, 0, 0.9);
		-moz-box-shadow: 1px 0 rgba(0, 0, 0, 0.9);

		transition:all .5s ease-in-out;
		-o-transition:all .5s ease-in-out;
		-moz-transition:all .5s ease-in-out;
		-webkit-transition:all .5s ease-in-out;
	}

	nav ul li {
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
	}

	header.main, section.widget header {
		padding: 15px;
	}

	section.alert {
		height: auto !important;
		transition:all .5s ease-in-out;
		-o-transition:all .5s ease-in-out;
		-moz-transition:all .5s ease-in-out;
		-webkit-transition:all .5s ease-in-out;
	}

	section.content {
		margin: 85px 0 0 0;
		padding: 15px;

		transition:all .5s ease-in-out;
		-o-transition:all .5s ease-in-out;
		-moz-transition:all .5s ease-in-out;
		-webkit-transition:all .5s ease-in-out;
	}

	section.widget .content {
		padding: 15px;
	}

	.cycle {
		margin: 15px;
	}

	.widget .timeline {
		margin: 15px 15px 2px 35px;
	}

	section.alert div {
		margin: 15px 15px 15px 10px;
		transition:all .5s ease-in-out;
		-o-transition:all .5s ease-in-out;
		-moz-transition:all .5s ease-in-out;
		-webkit-transition:all .5s ease-in-out;
	}

	.widget-container .small:first-child, .widget-container .small {
		float: none;
		width: 100%;
		height: auto !important;
		transition:all .5s ease-in-out;
		-o-transition:all .5s ease-in-out;
		-moz-transition:all .5s ease-in-out;
		-webkit-transition:all .5s ease-in-out;
	}

	span.icon {
		font-size: 48px;
		transition:all .5s ease-in-out;
		-o-transition:all .5s ease-in-out;
		-moz-transition:all .5s ease-in-out;
		-webkit-transition:all .5s ease-in-out;
	}

	section.user .profile-img {
		display: none;
		transition:all .5s ease-in-out;
		-o-transition:all .5s ease-in-out;
		-moz-transition:all .5s ease-in-out;
		-webkit-transition:all .5s ease-in-out;
	}

	header input {
		width: 30%;
	}

	section.widget header span.icon, .button.dropdown, section.alert div span {
		display: none;
	}

	section.widget header hgroup {
		margin: 0;
	}

	button.ico-font {
		opacity: 1
	}

	section.user .buttons {
		left: 15px;
		right: auto;
	}

	.widget button {
		margin: 0 5px 10px 0;
	}

	section.alert div p {
		margin: 0;
	}

	section.alert button {
		right: 15px;
		margin: 5px 0 10px 5px;
		float: right;
	}

	table tr th:nth-child(3),
	table tr th:nth-child(4),
	table tr th:nth-child(5),
	table tr th:nth-child(6),
	table tr th:nth-child(7),
	table tr th:nth-child(8),
	table tr th:nth-child(9),
	table tr td:nth-child(3),
	table tr td:nth-child(4),
	table tr td:nth-child(5),
	table tr td:nth-child(6),
	table tr td:nth-child(7),
	table tr td:nth-child(8),
	table tr td:nth-child(9) {
		display: none;
	}

	table#myTable th {
		min-width: 50px;
	}

	.gallery a {
		margin: 0 0 5px 0
	}

	.dropzone {
		padding: 8px !important;
	}

	body.login {
		padding-top: 50px;
	}

	.login section {
		width: 85%;
		margin: 0 auto 0 auto;
	}

	.login section h1 {
		font-size: 32px;
	}

}*/

/** iPad **/
/*@media only screen and (min-width : 768px) and (max-width : 1024px) {

	nav {
		width: 75px;
		overflow: hidden;

		transition:all .5s ease-in-out;
		-o-transition:all .5s ease-in-out;
		-moz-transition:all .5s ease-in-out;
		-webkit-transition:all .5s ease-in-out;
	}

	section.content {
		margin: 75px 0 0 70px;

		transition:all .5s ease-in-out;
		-o-transition:all .5s ease-in-out;
		-moz-transition:all .5s ease-in-out;
		-webkit-transition:all .5s ease-in-out;
	}

	section.alert div {
		margin: 15px 25px 15px 90px;
		transition:all .5s ease-in-out;
		-o-transition:all .5s ease-in-out;
		-moz-transition:all .5s ease-in-out;
		-webkit-transition:all .5s ease-in-out;
	}

	.gallery {
		padding: 10px !important;
	}

	.gallery a {
		margin: 10px !important;
	}

}*/

/** iPads (landscape) **/
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

	nav {
		width: 210px;
		overflow: visible;

		transition:all .5s ease-in-out;
		-o-transition:all .5s ease-in-out;
		-moz-transition:all .5s ease-in-out;
		-webkit-transition:all .5s ease-in-out;
	}

	section.content {
		margin: 75px 0 0 210px;

		transition:all .5s ease-in-out;
		-o-transition:all .5s ease-in-out;
		-moz-transition:all .5s ease-in-out;
		-webkit-transition:all .5s ease-in-out;
	}

	section.alert div {
		margin: 15px 25px 15px 235px;
		transition:all .5s ease-in-out;
		-o-transition:all .5s ease-in-out;
		-moz-transition:all .5s ease-in-out;
		-webkit-transition:all .5s ease-in-out;
	}

	.gallery {
		padding: 8px !important;
	}

	.gallery a {
		margin: 8px !important;
	}

}*/

/** Retina graphics **/
/*@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

	div.wysiwyg ul.toolbar li {
		background:#313131 url('../images/jquery.wysiwyg-retina.png') no-repeat;
		background-size: 180px !important;
	}

	div.wysiwyg ul.toolbar li.bold { background-position: 0 0; background-size: 180px !important;}

	.jquery-checkbox img{
		background: transparent url(../images/checkbox-retina.png) no-repeat;
		background-size: 75px auto;
	}

	.loading {
		height: 250px;
		width: 250px;
		margin: auto;
		background: url(../images/timg3.png) 50% 50% no-repeat;
		background-size: 75px !important;
	}

}*/

/**  ICON FONT PAGE  **/

/*ul.icon-fonts {
	overflow: hidden;
}

ul.icon-fonts li {
	width: 50px;
	text-align: center;
	float: left;
	margin: 0 25px 25px 25px;
}

ul.icon-fonts li .pictogram {
	font-family: "entypo";
	font-size: 60px;
}

ul.icon-fonts li .unicode {
	font-size: 14px;
	font-weight: bold;
}

ul.icon-fonts li .html {
	color: #999;
	font-size: 12px;
}*/