label[class=error] {
    color: red;
}

#devices_table_wrapper {
    min-width: 800px;
}

#device_task_wrapper {
    min-width: 800px;
}

.detail-block-header {
    margin: 10px 20px 20px 0;
}

@media (min-width: 900px) {
    #detailDeviceModal .modal-dialog {
        width: 900px;
    }
}

#device_attribute_table_wrapper {
    width: 90%;
    margin: 20px;
}

/*.deviceAttributeList {*/
    /*margin-left: 10px;*/
/*}*/

.attributeName {
    font-size: 13px;
    font-weight: 700;
}

.attributeValue {
    font-size: 13px;
}

.realtime-data-table {
    width: 90%;
    margin: 0 20px 10px 20px;
}

.service-panel {

}

.service-btn-group button {
    margin: 10px 5px 10px 0;
}

.divide-line {
    border-top: 4px solid #707070;
}

#token {
    text-align: center;
}

/*.service-control-legend {*/
    /*display: block;*/
    /*-webkit-padding-start: 2px;*/
    /*-webkit-padding-end: 2px;*/
    /*border-width: initial;*/s
    /*border-style: none;*/
    /*border-color: initial;*/
    /*border-image: initial;*/
/*}*/