.bar{
	border-radius: 0px;
    box-shadow: 0px 3px 10px #808080;
}
.content{
	background-color: rgba(158, 158, 158, 0.18);
    height: 1000px;
    padding-top: 80px;
    margin-top: -20px;
    min-height:800px;
}
.content-body{
	width: 51%;
    padding: 30px 60px;
    margin:0 auto;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(19, 12, 44, 0.48) 0px 0px 30px;
}
.header{
	margin:0 auto;
	font-size: 40px;
    font-weight: bolder;
    padding: 40px 0px;
}
.header_content{
	padding: 0px 20px;
    font-size: 5px;
}
.header_first{
	padding-bottom: 25px;
    margin-left: -13px;
}
.nav_left{

    position: absolute;
    border-right: 1px solid #dddddd;
    background: #f4f4f4;
    height: 100%;
    font-weight: bold;
        min-height: 800px;
}
a{
	color:rgb(81, 91, 100);
}
.nav_right{
	
    margin-top: 10px;
}
div.modal-body{
    padding: 35px 85px;
}
.modal-title{
	font-weight: bolder;
    font-size: 23px;
    text-align: center;
}
.nav-pills{
	    padding-top: 15px;
}
.d_name{
	    font-size: 17px;
    font-weight: bolder;
}
.d_state{
	font-size: 5px;
    padding: 6px 15px;
    border-radius: 13px;
    margin-left: 5%;
	
}
.title{
	font-size: 13px;
    font-weight: 700;
    padding: 7px 15px;
}

.panel{
	margin-left: 35px;
	margin-right: 35px;
}
.tab{
	font-weight: 900;
    font-size: 17px;
    padding: 30px 0px;
}
.ability{
	margin: 40px 15px;
    padding: 20px 55px;
}
.footer{
	width: 100%;
    background-color: black;
    color: #949191;
    padding: 2%;
    box-shadow: 0px -3px 20px #808080;
    text-align: right;
}
.container_body{
	margin-top: -19px;width:100%;min-height: 800px;
}
.able{
	    margin-top: 15px;
}
.tab_1{
	   font-weight:bold;
}
.basic{
	    background-color: #fff;
    box-shadow: 0px 0px 20px #808080;
    padding: 20px 31px;
}
.basic_1{
		    background-color: #fff;
    box-shadow: 0px 0px 20px #808080;
    padding: 20px 31px;
	    margin-left: 31px;
    min-height: 600px;
}
.b_body{
	    padding: 16px 0px;
}
.pad{
	    padding-bottom: 6px;
}
.open1{
	font-size: 18px;
    font-weight: 600;
    padding: 10px 17px;
    border-radius: 4px;
}
.add{
	    margin: 3px 0px;
    border-radius: 4px;
    padding: 5px;
}

.bo{
	/*height: 190px;*/
    background-color: rgba(123, 123, 124, 0.09);
    border-radius: 33px;
    box-shadow: 0px 0px 10px #808080;
    /*margin: 10px 47px;*/
    font-size: 30px;
    font-weight: bold;
    color: #161F28;
    text-align: center;
    padding: 21px;
}

.bobo{
	font-size: 20px;
    font-weight: 400;
    text-align: left;
    padding: 10px 15px;
    background-color: #145F7B;
    color: #fff;
    box-shadow: 0px 0px 20px #808080;
    /*height: 141px;*/
    margin-top: 20px;
}
.bobo a {
    color: white;
}
.title{
	    font-size: 20px;
    /* text-align: center; */
    padding-top: 18px;
}
#attribute{
    /* padding: 31px 25px; */
    margin-top: 22px;
    /* margin-right: 50%; */
    box-shadow: 0px 0px 3px #808080;
    padding: 4% 15%;
}
.mark1{
    text-align: center;
    font-size: 20px;
    font-weight: 800;}
strong{
    font-size: 20px;}