<div class="content-wrapper" ng-controller="customerUserCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h3><a href="" ng-click="$location.path('customer')">客户组</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;客户</h3>
            </div>
            <div class="col-md-1" style="margin-top: 23px;">
                <button style="margin-left:5px" class="btn btn-primary btn-sm" data-toggle="modal"
                        data-target="#createCustomerUser" id="addCustomerUser">+ 创建用户
                </button>
            </div>
        </div>

        <div class="row" style="margin-left: 20px;">
            每页显示&nbsp<input type="text" id="customerUserNum" style="width: 50px;border-radius: 5px;" ng-change="customerUserLimit()" ng-model="myLimit" placeholder="9">&nbsp个客户组
        </div>
        <div class="row">
            <div id="customerUserIcon">
                <div class="chooseBtn" ng-repeat="data in userInfo" ng-click="showUserInfo(data)" ng-style="data.style" ng-mouseover="fadeSiblings()" ng-mouseout="reSiblings()">
                    <div title="{{data.name}}">
                        <i class="fa fa-user fa-2x"></i>
                        <p>{{data.name}}</p>
                    </div>
                </div>
            </div>

            <div id="customerUserChart">
               <table class="table table-striped table-hover">
                     <thead>
                      <tr>
                          <th colspan="2">{{name}}

                              <i class="fa fa-trash-o highlight" data-toggle="modal"
                                 data-target="#deleteCustomerUser" title="删除" style="float: right;font-size: 17px;cursor: pointer;color: #305680;"></i>
                          </th>
                      </tr>

                      </thead>
                      <tbody>
                      <tr>
                          <td class="attName">用户ID:</td>
                          <td>{{userId}}</td>
                      </tr>
                      <tr>
                          <td class="attName">客户组ID:</td>
                          <td>{{customerId}}</td>
                      </tr>
                      <tr>
                          <td class="attName">所属租户ID:</td>
                          <td>{{tenantId}}</td>
                      </tr>
                      <tr>
                          <td class="attName">email：</td>
                          <td>{{email}}</td>
                      </tr>
                      <tr>
                          <td class="attName">权限等级：</td>
                          <td>{{authority}}</td>
                      </tr>
                      <tr>
                          <td class="attName">备注信息：</td>
                          <td>{{additional_info}}</td>
                      </tr>

                      <tr>
                          <td class="attName">操作：</td>
                          <td>
                              <button class="btn btn-primary" data-toggle="modal"
                                      data-target="#refreshCustomerUser" ng-click="setCustomerUserInfo()">修改用户</button>

                          </td>
                      </tr>

                      </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin-left: 20px;">
            <ul class="pagination" id="customerUserPage">
            </ul>
            <div class="pageJump">
                <span>跳转到</span>
                <input type="text"/>
                <span>页</span>
                <button type="button" class="button">确定</button>
            </div>
            <!--</div>-->
        </div>

    </div>
    <!--新增用户-->
    <div class="modal fade" tabindex="-1" role="dialog" id="createCustomerUser">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h4 class="modal-title" style="font-weight: bold;">新增用户</h4>
                </div>
                <div class="modal-body" id="customerUserInfoTable">
                    <table class="table table-striped table-hover">
                        <tbody>
                        <tr>
                            <td class="attName"><span style="color: red;font-size: 10px;margin-right: 5px;">*</span>用户名:</td>
                            <td><input type="text" class="inputInfo necInfo" id="customerUserName" placeholder="必填"></td>
                        </tr>
                        <tr>
                            <td class="attName"><span style="color: red;font-size: 10px;margin-right: 5px;">*</span>密码:</td>
                            <td>
                                <input type="password" class="inputInfo necInfo" id="customerUserPassword" placeholder="必填">
                            </td>
                        </tr>
                        <tr>
                            <td class="attName"><span style="color: red;font-size: 10px;margin-right: 5px;">*</span>确认密码：</td>
                            <td>
                                <input type="password" class="inputInfo necInfo" id="customerUserPasswordAgain" placeholder="请再次输入密码...">
                            </td>
                        </tr>
                        <tr>
                            <td class="attName"><span style="color: red;font-size: 10px;margin-right: 5px;">*</span>email:</td>
                            <td>
                                <input type="text" class="inputInfo necInfo" id="customerUserEmail" placeholder="必填">
                            </td>
                        </tr>
                        <tr>
                            <td class="attName">备注信息：</td>
                            <td>
                                <input type="text" class="inputInfo" id="customerUserAddInfo">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="modalCloseCreateCustomerUser">关闭</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="modalConfirmCreateCustomerUser" ng-click="createCustomerUser()">确定</button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- 删除用户 -->
    <div class="modal fade" tabindex="-1" role="dialog" id="deleteCustomerUser">
        <!--.modal:指定为模态框      fade:淡入淡出效果     tabindex="-1":不受tab键控制    role="dialog":指定模态框为对话框-->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h4 class="modal-title" style="font-weight: bold;">删除用户</h4>
                </div>
                <div class="modal-body" id="deleteCustomerTable">
                    <p style="text-align: center;font-size: 17px;">您真的要删除该用户吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="modalCloseDeleteCustomerUser">取消</button>
                    <button type="button" class="btn btn-primary" id="modalConfirmDeleteCustomerUser" data-dismiss="modal" ng-click="deleteCustomerUser()">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!--修改用户-->
    <div class="modal fade" tabindex="-1" role="dialog" id="refreshCustomerUser">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h4 class="modal-title" style="font-weight: bold;">修改用户</h4>
                </div>
                <div class="modal-body" id="refreshCustomerUserInfoTable">
                    <table class="table table-striped table-hover">
                        <tbody>
                        <tr>
                            <td class="attName">用户名:</td>
                            <td><input type="text" class="inputInfo necInfo" id="refreshCustomerUserName"></td>
                        </tr>
                        <tr>
                            <td class="attName">客户组ID:</td>
                            <td><input type="text" class="inputInfo necInfo" id="refreshCustomerId"></td>
                        </tr>
                        <tr>
                            <td class="attName">email:</td>
                            <td>
                                <input type="text" class="inputInfo necInfo" id="refreshCustomerUserEmail">
                            </td>
                        </tr>
                        <tr>
                            <td class="attName">备注信息：</td>
                            <td>
                                <input type="text" class="inputInfo" id="refreshCustomerUserAddInfo">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="modalCloseRefreshCustomerUser">关闭</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="modalConfirmRefreshCustomerUser" ng-click="refreshCustomerUser()">确定</button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>