<div ng-controller="dashboardCtrl">
    <div class="content" style="height: 500px">
        <div class="left_Dashboard">
            <div class="dashboard" id="dashboard_add" data-toggle="modal" data-target="#addDashboard">
                <div class="no_dashboard">
                    +添加仪表板
                </div>
            </div>

            <div class="dashboard" ng-click="change(1)">
                Test1 Dashboard
                <i class="fa fa-trash-o fa-lg dashboardicon shand" title="删除"></i>
            </div>
            <div class="dashboard" ng-click="change(2)">
                Test2 Dashboard
                <i class="fa fa-trash-o fa-lg dashboardicon shand" title="删除"></i>
            </div>
            <div class="dashboard" ng-click="change(3)">
                Test3 Dashboard
                <i class="fa fa-trash-o fa-lg dashboardicon shand" title="删除"></i>
            </div>
        </div>
        <div class="right_Dashboard">
            <h3>{{dashboardName}}</h3>
            <div class="dashboard_item">
                <canvas id="myChart1" height="180"></canvas>
            </div>
            <div class="dashboard_item">
                <canvas id="myChart2" height="180"></canvas>
            </div>
        </div>
    </div>

    <!--modal添加Dashboard-->
    <div class="modal fade" id="addDashboard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        添加仪表板
                    </h4>
                </div>
                <div class="modal-body">
                    <table>
                        <tr style="line-height:20px"><td>名称：</td>
                            <td><input id="db_name" name="db_name" type="text"/></td></tr>
                        <tr style="line-height:20px"><td>关联设备：</td>
                        <td><select id="db_device" ng-model="db_device" ng-options="x.name for x in DeviceName">
                            <option value="" disabled>--请选择设备--</option>
                            </select></td></tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="stopRule()">
                        确定
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

</div>