<div class="content-wrapper" ng-controller="deviceModelCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <span class="header-line">设备管理型号
                <button style="margin-left:10px" class="btn btn-primary btn-sm user" data-toggle="modal"
                        data-target="#addDeviceModel">+ 创建设备型号管理组
                </button>
                </span>
            </div>
        </div>

        <div class="deviceTypeIcon">
            <div class="deviceTypeIconStyle" ng-repeat="item in deviceTypeGroups" ng-mouseover="fadeSiblings()" ng-mouseout="reSiblings()">
                <p class="style" style="padding-top: 5px"><i class="fa fa-angle-double-right fa-cart-plus"></i> 厂商：{{item.manufacturer.manufacturerName}}
                    <i title="删除" data-toggle="modal" data-target="#deleteSM" ng-click="deleteDeviceTypeIcon(item)" style="float: right;margin-right: 10px" class="glyphicon glyphicon-trash"></i></p>
                <p class="style"><i class="fa fa-angle-double-right fa-cart-plus"></i> 设备类型：{{item.deviceType.deviceTypeName}}</p>
                <p class="style"><i class="fa fa-angle-double-right fa-cart-plus"></i> 型号：{{item.model.modelName}}</p>
                <p class="style"><i class="fa fa-angle-double-right fa-cart-plus"></i> 设备图标：{{item.model.deviceIcon}}</p>
                <p class="style"><i class="fa fa-angle-double-right fa-cart-plus"></i> 设备在线时间：{{item.model.limitLifetime}} ms</p>
            </div>
        </div>
        <!--div class="row">
            <div style="width: 30%;margin-right: 15px;display: inline-block;position: relative">
                <div class="panel-group" id="accordion11">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="/#collapseThree11">
                                    点击我进行展开，再次点击我进行折叠。第 3 部分--toggle 方法
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree11" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                                nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                                lomo.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 30%;margin-right: 15px;display: inline-block;position: relative">
                <div class="panel-group" id="accordion112">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="/#collapseThree112">
                                    点击我进行展开，再次点击我进行折叠。第 3 部分--toggle 方法
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree112" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                                nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                                lomo.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 30%;margin-right: 15px;display: inline-block;position: relative">
                <div class="panel-group" id="accordion113">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="/#collapseThree113">
                                    点击我进行展开，再次点击我进行折叠。第 3 部分--toggle 方法
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree113" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                                nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                                lomo.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 30%;margin-right: 15px;display: inline-block;position: relative">
                <div class="panel-group" id="accordion114">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="/#collapseThree114">
                                    点击我进行展开，再次点击我进行折叠。第 3 部分--toggle 方法
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree114" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                                nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                                lomo.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 30%;margin-right: 15px;display: inline-block;position: relative">
                <div class="panel-group" id="accordion115">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="/#collapseThree115">
                                    点击我进行展开，再次点击我进行折叠。第 3 部分--toggle 方法
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree115" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                                nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                                lomo.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 30%;margin-right: 15px;display: inline-block;position: relative">
                <div class="panel-group" id="accordion5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="/#collapseThree5">
                                    点击我进行展开，再次点击我进行折叠。第 3 部分
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree5" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div-->










    </div>


    <!--创建设备模态框-->
    <div class="modal fade" id="addDeviceModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="myDeviceForm" novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h3 class="modal-title user" style="color: #305680;font-weight: 600">
                            创建设备型号
                        </h3>
                    </div>
                    <div class="modal-body" id="abilityInfo">
                        <label class="col-sm-3 control-label" style="text-align: left">
                            <span style="color: red;">*</span>厂商
                        </label>
                        <input type="text" name="manufacturerName" ng-model="manufacturerName" style="pixels: 300px" placeholder="必填" id="manufacturerName" required/>
                        <span class="warning ng-hide" ng-show="myDeviceForm.manufacturerName.$pristine || myDeviceForm.manufacturerName.$dirty">
                            <span ng-show="myDeviceForm.manufacturerName.$error.required">必填项</span>
                        </span>
                    </div>
                    <div class="modal-body">
                        <label class="col-sm-3 control-label" style="text-align: left">
                            <span style="color: red;">*</span>设备类型
                        </label>
                        <input type="text" name="deviceType" ng-model="deviceType" style="pixels: 300px" placeholder="必填" id="deviceType" required/>
                        <span class="warning ng-hide" ng-show="myDeviceForm.deviceType.$dirty || myDeviceForm.deviceType.$pristine">
                            <span ng-show="myDeviceForm.deviceType.$error.required">必填项</span>
                        </span>
                    </div>
                    <div class="modal-body">
                        <label class="col-sm-3 control-label" style="text-align: left">
                            <span style="color: red;">*</span>设备型号
                        </label>
                        <input type="text" name="deviceModel" ng-model="deviceModel" style="pixels: 300px" placeholder="必填" id="deviceModel" required/>
                        <span class="warning ng-hide" ng-show="myDeviceForm.deviceModel.$dirty || myDeviceForm.deviceModel.$pristine">
                            <span ng-show="myDeviceForm.deviceModel.$error.required">必填项</span>
                        </span>
                    </div>
                    <div class="modal-body">
                        <label class="col-sm-3 control-label" style="text-align: left">
                            设备图标
                        </label>
                        <input type="file" style="pixels: 300px" id="potatoIcon">
                    </div>
                    <div class="modal-body">
                        <label class="col-sm-3 control-label" style="text-align: left">
                            限制生存时间
                        </label>
                        <input type="text" style="pixels: 300px" id="limitTime" placeholder="00:00:00" onchange="javascript:if(!/^[0-5]{1}[0-9]{1}:[0-5]{1}[0-5]{1}:[0-5]{1}[0-5]{1}$/.test(this.value)){alert('时间格式不正确,正确的格式为 00:00:00-23:59:59');this.value=''};" />
                        <!--input type="time" style="pixels: 300px" id="limitTime"/-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="addDeviceModel()">
                            创建
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            取消
                        </button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--删除能力组界面弹出框-->
    <div class="modal fade" id="deleteSM" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModaLabel">
                        删除设备型号管理
                    </h4>
                </div>
                <div class="modal-body">
                    确定删除此设备型号管理？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="deleteDeviceType()">
                        确定
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>


</div>