<div class="content-wrapper" ng-controller="deviceListCtrl">
    <div class="container">


        <div class="row" style="margin-top: 20px">
            <div class="col-md-6">
                    <span style="font-size: 30px;">设备列表</span>
            </div>

            <div class="col-md-1">
                <button style="margin-left:5px" class="btn btn-primary btn-sm" data-toggle="modal"
                        data-target="#createDevice">+ 创建设备
                </button>
            </div>
            <div class="col-md-5">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="请输入设备名称..." id="searchDeviceText">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="searchDevice()"><i class="fa fa-search"></i></button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->

        </div><!-- /.row -->
        <div class="row" style="margin-top: 15px;margin-left: 35px;">
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="每页显示设备数量" id="deviceListNum">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="deviceListNumChoose()">确定</button>
                    </span>
                </div>
            </div>
        </div>

        <div id="preDevice" ng-click="preDeviceInfo()"><i class="fa fa-chevron-left"></i></div>
        <div id="deviceListIcon">
          <div class="chooseBtn" ng-repeat="data in deviceList" ng-click="show(data)" ng-style="data.style" ng-mouseover="fadeSiblings()" ng-mouseout="reSiblings()">
              <div title="{{data.name}}">
                  <i class="fa fa-file-text-o fa-2x"></i>
                  <p>{{data.name}}</p>
              </div>
          </div>
        </div>
        <div id="nextDevice" ng-click="nextDeviceInfo()"><i class="fa  fa-chevron-right"></i></div>
        <div id="deviceListChart">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th colspan="2">{{deviceName}}

                       <i class="fa fa-trash-o highlight" data-toggle="modal"
                        data-target="#deleteDevice" title="删除" style="float: right;font-size: 17px;cursor: pointer;color: #305680;"></i>

                    </th>
                </tr>

                </thead>
                <tbody>
                <tr>
                    <td class="attName">设备ID:</td>
                    <td>{{ID}}</td>
                </tr>
                <tr>
                    <td class="attName">父类设备:</td>
                    <td>{{parentName}}</td>
                </tr>
                <tr>
                    <td class="attName">厂商：</td>
                    <td>{{manufacture}}</td>
                </tr>
                <tr>
                    <td class="attName">设备类型:</td>
                    <td>{{deviceType}}</td>
                </tr>
                <tr>
                    <td class="attName">型号：</td>
                    <td>{{model}}</td>
                </tr>
                <tr>
                    <td class="attName">状态：</td>
                    <td>{{status}}</td>
                </tr>
                <tr>
                    <td class="attName">位置：</td>
                    <td>{{location}}</td>
                </tr>
                <tr>
                    <td class="attName">操作：</td>
                    <td>
                        <button class="btn btn-primary" data-toggle="modal"
                                data-target="#refreshDevice"  ng-click="setValue()">更新设备</button>
                        <button class="btn btn-primary" data-toggle="modal"
                                data-target="#token" ng-click="showToken()">查看令牌</button>
                        <button class="btn btn-primary" data-toggle="modal"
                                data-target="#assign">分配设备</button>

                    </td>
                </tr>
                <tr>
                    <td class="attName">查看：</td>
                    <td>
                        <button data-toggle="modal"
                                data-target="#deviceEvent" class="highlight btn btn-default" ng-click="showEvent()">
                            查看事件
                        </button>
                        <button data-toggle="modal"
                           data-target="#deviceDetail" class="highlight btn btn-default" ng-click="showDetail()">
                            查看详情
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--  CREATE MODEL  -->
    <div class="modal fade" tabindex="-1" role="dialog" id="createDevice">
        <!--.modal:指定为模态框      fade:淡入淡出效果     tabindex="-1":不受tab键控制    role="dialog":指定模态框为对话框-->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h4 class="modal-title" style="font-weight: bold;">新增设备</h4>
                </div>
                <div class="modal-body" id="deviceInfo">
                    <table class="table table-striped table-hover">
                        <tbody>
                        <tr>
                            <td class="attName"><span style="color: red;font-size: 10px;margin-right: 5px;">*</span>设备名称:</td>
                            <td><input type="text" class="inputInfo" id="name" placeholder="必填"></td>
                        </tr>
                        <tr>
                            <td class="attName">父类设备:</td>
                            <td>
                                <select class="inputInfo" id="parentId">
                                    <option></option>
                                    <option ng-repeat="data in deviceListAll" class="{{data.id}}">{{data.name}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="attName">厂商:</td>
                            <td>
                                <select class="inputInfo" id="manufacture" ng-change="getCreateManufacture()" ng-model="myManufacturer">

                                    <option ng-repeat="data in manufacturerInfo" class="{{data.manufacturerId}}">{{data.manufacturerName}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="attName">设备类型:</td>
                            <td>
                                <select class="inputInfo" id="deviceType" ng-change="getCreateDeviceType()" ng-model="myDeviceType">

                                    <option ng-repeat="data in deviceTypeInfo" class="{{data.deviceTypeId}}">{{data.deviceTypeName}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="attName">型号：</td>
                            <td>
                                <select class="inputInfo" id="model" ng-change="getCreateDeviceModel()" ng-model="myDeviceModel">

                                    <option ng-repeat="data in deviceModelInfo" class="{{data.modelId}}">{{data.modelName}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="attName">位置：</td>
                            <td><input type="text" class="inputInfo" id="location"></td>
                        </tr>
                        <tr>
                            <td class="attName">状态：</td>
                            <td><input type="text" class="inputInfo" id="status"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="modalClose">关闭</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="modalConfirm" ng-click="createDevice()">确定</button>

                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



    <!--  REFRESH MODEL  -->
    <div class="modal fade" tabindex="-1" role="dialog" id="refreshDevice">
        <!--.modal:指定为模态框      fade:淡入淡出效果     tabindex="-1":不受tab键控制    role="dialog":指定模态框为对话框-->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h4 class="modal-title" style="font-weight: bold;">更新设备</h4>
                </div>
                <div class="modal-body" id="deviceInfoRefresh">
                    <table class="table table-striped table-hover">
                        <tbody>
                        <tr>
                            <td class="attName">设备名称:</td>
                            <td><input type="text" class="inputInfo" disabled="disabled" ng-value="deviceName" id="reName"></td>
                        </tr>
                        <tr>
                            <td class="attName" >父类设备:</td>
                            <td>

                                <select class="inputInfo" id="reParentId">
                                    <option></option>
                                    <option ng-repeat="data in deviceListAll" class="{{data.id}}">{{data.name}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="attName">厂商:</td>
                            <td>

                                <select class="inputInfo" id="reManufacture" ng-change="getManufacture()" ng-model="myReManufacturer">

                                    <option ng-repeat="data in manufacturerInfo" class="{{data.manufacturerId}}">{{data.manufacturerName}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="attName">设备类型:</td>
                            <td>

                                <select class="inputInfo" id="reDeviceType" ng-change="getDeviceType()" ng-model="myReDeviceType">

                                    <option ng-repeat="data in deviceTypeInfo" class="{{data.deviceTypeId}}">{{data.deviceTypeName}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="attName">型号：</td>
                            <td>

                                <select class="inputInfo" id="reModel"  ng-change="getDeviceModel()" ng-model="myReDeviceModel">

                                    <option ng-repeat="data in deviceModelInfo" class="{{data.modelId}}">{{data.modelName}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="attName">位置：</td>
                            <td><input type="text" class="inputInfo" id="reLocation"></td>
                        </tr>
                        <tr>
                            <td class="attName">状态：</td>
                            <td><input type="text" class="inputInfo" id="reStatus"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="modalCloseRefresh">关闭</button>
                    <button type="button" class="btn btn-primary" id="modalConfirmRefresh" data-dismiss="modal" ng-click="refreshDevice()">更新</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



    <!-- TOKEN MODEL -->
    <div class="modal fade" tabindex="-1" role="dialog" id="token">
        <!--.modal:指定为模态框      fade:淡入淡出效果     tabindex="-1":不受tab键控制    role="dialog":指定模态框为对话框-->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h4 class="modal-title" style="font-weight: bold;">设备令牌</h4>
                </div>
                <div class="modal-body" id="tokenTable">
                    <p style="text-align: center;">{{token}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="modalCloseToken">关闭</button>
                    <button type="button" class="btn btn-primary" id="modalConfirmToken" data-dismiss="modal">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



    <!-- ASSIGN MODEL -->
    <div class="modal fade" tabindex="-1" role="dialog" id="assign">
        <!--.modal:指定为模态框      fade:淡入淡出效果     tabindex="-1":不受tab键控制    role="dialog":指定模态框为对话框-->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h4 class="modal-title" style="font-weight: bold;">分配设备</h4>
                </div>
                <div class="modal-body" id="assignTable">
                    <table class="table table-striped table-hover">
                        <tbody>
                        <tr>
                            <td class="attName">设备id:</td>
                            <td>{{ID}}</td>
                        </tr>
                        <tr>
                            <td class="attName">设备名称：</td>
                            <td>{{deviceName}}</td>
                        </tr>
                        <tr>
                            <td class="attName">请选择设备组：</td>
                            <td >
                                <select class="inputInfo" id="deviceGroupSelect">
                                    <option ng-repeat="deviceGroupInfo in deviceGroup" id="{{deviceGroupInfo.id}}">{{deviceGroupInfo.name}}</option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="modalCloseAssign">关闭</button>
                    <button type="button" class="btn btn-primary" id="modalConfirmAssign" data-dismiss="modal" ng-click="assignDeviceGroup()">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- DELETE MODEL -->
    <div class="modal fade" tabindex="-1" role="dialog" id="deleteDevice">
        <!--.modal:指定为模态框      fade:淡入淡出效果     tabindex="-1":不受tab键控制    role="dialog":指定模态框为对话框-->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h4 class="modal-title" style="font-weight: bold;">删除设备</h4>
                </div>
                <div class="modal-body" id="deleteTable">
                    <p style="text-align: center;font-size: 17px;">您真的要删除该设备吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="modalCloseDelete">取消</button>
                    <button type="button" class="btn btn-primary" id="modalConfirmDelete" data-dismiss="modal" ng-click="delete()">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- DEVICE DETAIL -->
    <div class="modal fade" tabindex="-1" role="dialog" id="deviceDetail">
        <!--.modal:指定为模态框      fade:淡入淡出效果     tabindex="-1":不受tab键控制    role="dialog":指定模态框为对话框-->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="modalCloseTagDetail">&times;</button>
                    <h4 class="modal-title" style="font-weight: bold;font-size: 20px;">设备详情</h4>
                </div>
                <div class="modal-body showForm" id="detailTable">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="attName" style="text-align: left;font-size: 16px;">-----属性-----</th>
                        </tr>
                        <tr>

                            <td id="attrSelectInfoTd">
                                每页显示
                                <select id="attrSelectInfo" ng-change="showNum()" ng-model="myNum">
                                    <option value="">5</option>
                                    <option>10</option>
                                    <option>15</option>
                                    <option>20</option>
                                </select>
                                条记录
                            </td>
                            <td></td>
                            <td>
                                <div class="input-group">
                                      <input type="text" class="form-control" placeholder="请输入键值查找..." id="searchKey">
                                       <span class="input-group-btn">
                                             <button class="btn btn-primary" type="button" ng-click="findKey()"><i class="fa fa-search"></i></button>
                                       </span>
                                </div>
                                <!--<input type="text" class="form-control" placeholder="请输入键值搜索..." id="searchKey" ng-change="findKey()" ng-model="myKey">-->
                            </td>
                        </tr>

                        <tr class="boldForm">
                            <td style="width: 30%; text-align: center;">最后更新时间</td>
                            <td style="width: 30%; text-align: center;">键</td>
                            <td style="width: 30%; text-align: center;">值</td>
                        </tr>
                        </thead>
                        <tbody id="attrDisplay" class="data-list"></tbody>
                    </table>
                    <div id="pagination" class="pagination"></div>
                </div>
                <div class="divide-line"></div>
                <div class="modal-body showForm" id="realTimeTable">
                    <h4 class="detail-block-header">-----最新遥测-----</h4>
                    <div class="row">
                        <div>
                            <table id="realtime_data_table" class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th style="width: 30%; text-align: center;">最后更新时间</th>
                                    <th style="width: 30%; text-align: center;">键</th>
                                    <th style="width: 30%; text-align: center;">值</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="divide-line"></div>

                <div class="modal-body showHistoryData" id="historyDataTable">
                    <h4 class="detail-block-header">-----历史数据-----</h4>

                     <label>起始时间：</label>
                     <input type="datetime-local" id="startTime"/>

                     <label>终止时间：</label>
                     <input type="datetime-local" id="endTime"/>

                     <i class="fa fa-search" id="showHistory" ng-click="subTime()"></i>

                     <div id="historyEcharts" style="width: 569px;height: 200px;margin-top: 10px;"></div>

                </div>

                <div class="divide-line"></div>

                <div class="modal-body showForm" id="controlTable">
                    <h4 class="detail-block-header">-----控制面板-----</h4>
                    <div class="row">
                        <div class="control-panel" id="control_panel">

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="modalCloseDetail">关闭</button>
                    <button type="button" class="btn btn-primary" id="modalConfirmDetail" data-dismiss="modal">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- DEVICE EVENT -->
    <div class="modal fade" tabindex="-1" role="dialog" id="deviceEvent">
        <!--.modal:指定为模态框      fade:淡入淡出效果     tabindex="-1":不受tab键控制    role="dialog":指定模态框为对话框-->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeEvent">&times;</button>
                    <h4 class="modal-title" style="font-weight: bold;">设备事件</h4>
                </div>
                <div class="modal-body" id="eventTable">
                    <label>起始时间：</label>
                    <input type="datetime-local" id="eventStartTime"/>

                    <label>终止时间：</label>
                    <input type="datetime-local" id="eventEndTime"/>

                    <i class="fa fa-search" id="showEvent" ng-click="subEventTime()"></i>
                    <div class="divide-line" style="margin-top: 15px;"></div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>服务名</th>
                                <th>方法名</th>
                                <th>uid</th>
                                <th>状态</th>
                                <th>创建时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="modalCloseEvent">关闭</button>
                    <button type="button" class="btn btn-primary" id="modalConfirmEvent" data-dismiss="modal">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>
    <!-- CONTENT-WRAPPER SECTION END-->
