<div class="content-wrapper" ng-controller="homeTenantCtrl">

    <div class="homeIconBackground">
        <a href="" title="设备型号管理" ng-click="$location.path('/deviceModelManagement')">
            <div>
                <i class="fa fa-wrench homeIcon"></i>
                <p class="homeIconName">设备型号管理</p>
            </div>
        </a>
    </div>

    <div class="homeIconBackground">
        <a href="" title="服务管理" ng-click="$location.path('/service')">
            <div>
                <i class="fa fa-cog homeIcon"></i>
                <p class="homeIconName">服务管理</p>
            </div>
        </a>
    </div>


    <div class="homeIconBackground">
        <a href="" title="插件管理" ng-click="$location.path('/plugins')">
            <div>
                <i class="fa fa-plug homeIcon"></i>
                <p class="homeIconName">插件管理</p>
            </div>
        </a>
    </div>


    <div class="homeIconBackground">
        <a href="" title="租户" ng-click="$location.path('/tenant')">
            <div>
                <i class="fa fa-home homeIcon"></i>
                <p class="homeIconName">租户</p>
            </div>
        </a>
    </div>


    <div class="homeIconBackground">
        <a href="" title="组件" ng-click="$location.path('/widgetsLibrary')">
            <div>
                <i class="fa fa-cube fontStyle homeIcon"></i>
                <p class="homeIconName">组件</p>
            </div>
        </a>
    </div>


    <div class="homeIconBackground">
        <a href="" title="能力评估" ng-click="$location.path('/evaluate')">
            <div>
                <i class="fa fa-newspaper-o fontStyle homeIcon"></i>
                <p class="homeIconName">用户手册</p>
            </div>
        </a>
    </div>

</div>