<div class="content-wrapper" ng-controller="RuleCtrl">
    <div class="container">
        <!--右侧视图-->
        <div class="RightView">
            <div class="DGAssignContainer">
                <div class="DGTitle DGminTitle">
                    <span class="RightviewTitle">规则信息</span>
                    <div class="ruleiconcontainer">
                        <i class="fa fa-power-off fa-lg ruleicon shand userDelete" ng-show="Rulestart" title="激活规则"
                           data-toggle="modal" data-target="#startRule"></i>
                        <i class="fa fa-ban fa-lg ruleicon shand userDelete" ng-show="Rulestop" title="暂停规则"
                           data-toggle="modal" data-target="#stopRule"></i>
                        <i class="fa fa-trash-o fa-lg ruleicon shand userDelete" title="删除此规则"
                           data-toggle="modal" data-target="#delRule"></i>
                    </div>
                </div>
                <div class="item">
                    <p>规则名称：{{Ruleitem.rule.name}}<!--规则名称修改按钮
                    <i class="fa fa-pencil-square-o iedit shand" data-toggle="modal"
                       data-target="#editRuleName"></i>
                    </p.time}}  无此接口--></p>
                    <p>规则ID：{{Ruleitem.rule.ruleId}}</p>
                    <p>状态：<span ng-class="{true:'stateActive',false:'stateNActive'}[isActive]">

                    <i ng-class="{true:'fa fa-refresh fa-spin',false:'fa fa-refresh'}[isActive]"></i>
                    {{Ruleitem.rule.state}}
                </span></p>
                    <p>规则描述：{{Ruleitem.rule.additional_info}}
                        <!--规则描述修改按钮
                        <i class="fa fa-pencil-square-o iedit shand" data-toggle="modal"
                           data-target="#editRuleDes"></i>
                        </p.time}}   无此接口-->
                    </p>
                    <!--显示信息待完善-->
                </div>
            </div>
            <div class="DGAssignContainer">
                <!--filter显示表格-->
                <div class="DGTitle DGminTitle">
                    <p class="RightviewTitle">规则详情</p>
                </div>
                <div class="item" ng-controller="RulefilterCtrl">
                    <div class="gridStyle RulegridStyle" ui-grid="gridOptions" style="height: 130px"></div>
                </div>
                <!--plugin展示折叠效果1-->
                <!--div ng-repeat="RP in RulePlugins">
                    <div class="item">
                    <div class="panel-group" id="showplugin">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{RP.name}}插件
                                    <i data-toggle="collapse" data-parent="#showplugin" class="shand fa fa-angle-double-down"
                                       data-target="#showpluginitem" ng-click="showplugin(RP,$index)" style="float: right"></i>
                                </h3>
                            </div>
                            <div id="showpluginitem" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>跳转地址：{{RP.url}}</p>
                                    <div id="plugin_{{$index}}">
                                        <p>请求方法：{{RP.requestBody.method}}</p>
                                        <p>请求地址：{{RP.requestBody.url}}</p>
                                    </div>
                                    <div id="plugin_mail_{{$index}}" style="display: none">
                                        <p>收件人：{{RP.requestBody.to}}</p>
                                        <p>事务：{{RP.requestBody.subject}}</p>
                                        <p>内容：{{RP.requestBody.text}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div-->


                <!--plugin展示表格折叠效果2-->
                <div class="item">
                    <table class="table table-bordered table-hover table-striped" ng-show="!showEmpty" style="table-layout:fixed">
                        <thead>
                        <tr>
                            <td style="width: 30px"></td>
                            <td>规则名</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="data in RulePlugins">
                            <td>
                                <button class="btn btn-xs" ng-if="data.expanded" ng-click="data.expanded=false">-</button>
                                <button class="btn btn-xs" ng-if="!data.expanded" ng-click="data.expanded=true;showplugin(data,$index)">+</button>
                            </td>
                            <td>{{data.name}}</td>
                        </tr>
                        <tr ng-show="data.expanded" ng-repeat-end="">
                            <td></td>
                            <td colspan="1" style="word-wrap:break-word">
                                <p>规则名称：{{data.name}}</p>
                                <p>跳转地址：{{data.url}}</p>
                                <div id="plugin_{{$index}}">
                                    <p>请求方法：{{data.requestBody.method}}</p>
                                    <p>请求地址：{{data.requestBody.url}}</p>
                                </div>
                                <div id="plugin_mail_{{$index}}" style="display: none">
                                    <p>收件人：{{data.requestBody.to}}</p>
                                    <p>事务：{{data.requestBody.subject}}</p>
                                    <p>内容：{{data.requestBody.text}}</p>
                                </div>
                                <div id="plugin_updatemessage_{{$index}}" style="display: none">
                                    <p>消息：{{data.requestBody.message}}</p>
                                    <p>消息类型：{{data.requestBody.messageType}}</p>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--modal删除规则-->
            <div class="modal fade" id="delRule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                删除规则
                            </h4>
                        </div>
                        <div class="modal-body">
                            确定删除此规则？
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="delRule()">
                                确定
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>

            <!--modal运行-激活规则-->
            <div class="modal fade" id="startRule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                激活规则
                            </h4>
                        </div>
                        <div class="modal-body">
                            确定激活此规则？
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="startRule()">
                                确定
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>

            <!--modal运行-暂停规则-->
            <div class="modal fade" id="stopRule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                暂停规则
                            </h4>
                        </div>
                        <div class="modal-body">
                            确定停止运行此规则？
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="stopRule()">
                                确定
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>

        </div>

        <!--左侧视图-->
        <div class="LeftView">
            <div class="DGTitle">
                <span style="font-size:30px">规则管理</span>
                <button style="margin-left:5px" class="btn btn-primary btn-sm user" data-toggle="modal"
                        data-target="#addRule">+ 创建规则
                </button>
                <!--
                <div class="SearchDG">
                <span>搜索：<input type="text" style="width: 130px" placeholder="请输入规则id"
                                ng-model="$parent.ruleid"/></span>
                    <span class="Searchicon" ng-click="searchRule()" title="搜索">
                    <i class="fa fa-search fa-lg shand" aria-hidden="true"></i>
                </span>
                </div>
                -->
                <div class="input-group SearchDG">
                    <input type="text" class="form-control" placeholder="请输入规则名称..." id="searchRuleText">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="searchRule()"><i class="fa fa-search"></i></button>
                    </span>
                </div>

            </div>
            <div class="DGContainer" style="margin-left: -15px">
                <div ng-repeat="rule in Rules" class="chooseBtn RuleBtn" ng-click="showrule(rule)"
                     ng-style="rule.style" ng-mouseover="fadeSiblings()" ng-mouseout="reSiblings()">
                    <div>
                        <i class="fa fa-puzzle-piece fa-2x "></i>
                        <p>{{rule.rule.name}}</p>
                    </div>
                </div>
            </div>
        </div>

        <!--modal创建规则-->
        <div class="modal fade" id="addRule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title">
                            添加规则
                        </h4>
                    </div>
                    <div class="modal-body" style="height: 450px;overflow: auto"><!--解决嵌套模态框滚动条bug-->
                        <form>
                            <!--添加规则组基本信息-->
                            <p><span class="StarMark">*</span>规则名称：<input type="text" name="rulename"
                                                                          ng-model="formData.rule.name"
                                                                          placeholder="请输入规则组名称">
                                <span class="alertempty" id="rulenamealert">请输入规则名称</span>
                            </p>
                            <p><span style="vertical-align:top;margin-left: 10px">描&emsp;&emsp;述：</span><textarea
                                    name="additional_info"
                                    ng-model="formData.rule.additional_info"
                                    placeholder="请添加对规则的描述..."
                                    style="height:120px;width: 450px;"></textarea>
                            </p>
                            <hr/>

                            <!--添加过滤器-->
                            <h4>添加过滤器</h4>
                            <!--添加过滤器modal后显示-->
                            <table class="table table-bordered table-hover addfiltertab" ng-show="showaddFilter">
                                <thead><!--bootstrap的table样式，简单快捷-->
                                <tr>
                                    <th>过滤器名称</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="filter in formData.filters">
                                    <td>{{filter.name}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <button style="margin-left:5px" class="btn btn-primary btn-sm" data-toggle="modal"
                                    data-target="#addruleFilter">+ 添加过滤器
                            </button>
                            <hr/>

                            <!--添加插件-->
                            <h4>添加插件</h4>
                            <!--添加插件后显示-->
                            <table class="table table-bordered table-hover addfiltertab" ng-show="showaddTransform">
                                <thead><!--bootstrap的table样式，简单快捷-->
                                <tr>
                                    <th>插件名称</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="plugin in formData.transforms">
                                    <td>{{plugin.name}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <button style="margin-left:5px" class="btn btn-primary btn-sm" data-toggle="modal"
                                    data-target="#addruleTransform" ng-click="getAllplugin()">+ 添加插件
                            </button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearForm()">关闭
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="createRule()">
                            确定
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        <!--model创建规则-添加过滤器-->
        <div class="modal fade" id="addruleFilter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title">
                            添加过滤器
                        </h4>
                    </div>

                    <div class="modal-body">
                        <form name="addfilter">
                            <p><span class="StarMark">*</span>过滤器名称：<input type="text" name="addname"
                                                                           id="addfiltername"
                                                                           placeholder="请输入过滤器名称" required/>
                                <span class="alertempty" id="filternamealert">请输入过滤器名称</span>
                            </p>
                            <p style="margin-left: 10px">过滤器类型：<input type="text" name="addtype" disabled="disabled"
                                                                      id="addfiltertype"
                                                                      placeholder="待定"/>
                            </p>
                            <p style="margin-left: 10px;vertical-align:top;">JS&emsp;代&emsp;码：<textarea
                                    name="addjscode" id="addfilterjs"
                                    style="height:150px;width: 470px"/>
                            </p>
                            <input type="reset" style="display:none;"/>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                ng-click="clearFilterPlugin('#addruleFilter')">关闭
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="subFilter()">
                            确定
                        </button>
                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        <!--model创建规则-添加插件-->
        <div class="modal fade" id="addruleTransform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title">
                            添加插件
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div ng-show="!isPluginReady">获取插件中...请耐心等待</div>
                        <form name="addplugin" ng-show="isPluginReady">
                            <p>名&emsp;&emsp;称：<select ng-model="RuleaddPlugin" ng-change="change(RuleaddPlugin)"
                                                      id="addpluginselect"
                                                      ng-options="x.name for x in Plugin">
                                <option value="" disabled>--请选择插件--</option>
                            </select>
                            </p>
                            <p style="word-wrap:break-word">描&emsp;&emsp;述：{{RuleaddPlugin.describe}}</p>
                            <p>跳转地址：{{RuleaddPluginUrl}}</p>
                            <p ng-show="showsendmail">请求方式：<input type="text" name="method" disabled="disabled"
                                                                  id="pluginmethodMail"
                                                                  value="POST"/>
                            </p>
                            <!--判断是restful插件-->
                            <p ng-show="showrestful">请求方式：<select id="pluginmethodRest"
                                                                  ng-model="RuleaddPlugin.method"
                                                                  ng-options="x for x in RESTMethod"
                                                                  ng-change="changemethod(RuleaddPlugin.method)">
                                <option value="" disabled>--请选择请求方式--</option>
                            </select>
                            </p>
                            <p ng-show="showrestful">请求地址：<input type="text" id="RestfulBody_url"
                                                                 style="width: 75%;"/></p>
                            <p ng-show="showrestfulPOST"><span
                                    style="vertical-align:top">Requestbody：</span><textarea
                                    style="height:120px;width: 70%;" id="RestfulBody_body"></textarea>
                            </p>

                            <!--判断是updatemessage插件-->
                            <p ng-show="showupdatemessage"><span
                                    style="vertical-align:top">Message：</span><textarea
                                    style="height:120px;width: 70%;" id="addUpdateMessageText"></textarea>
                            </p>

                            <!--判断是sendmail后显示-->
                            <div ng-show="showsendmail">
                                <div>
                                    <hr/>
                                    <!--添加多个收件人-->
                                    <div ng-repeat="reply in fchat.replies">
                                        <p>
                                            收件人{{$index + 1}}&ensp;：<input type="text" ng-model="reply.value"
                                                                           id="reply{{$index + 1}}"
                                                                           name="reply{{$index + 1}}"
                                                                           placeholder="请输入收件人"/>
                                            <a href="" ng-click="fchat.incrReply($index)">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                            <a href="" ng-click="fchat.decrReply($index)"
                                               ng-show="fchat.canDescReply">
                                                <i class="fa fa-minus"></i>
                                            </a>
                                            <i class="fa fa-minus" ng-show="!fchat.canDescReply"/></a>
                                        </p>
                                    </div>
                                    <!--添加多个收件人End-->
                                    <p>邮件主题：<input type="text" name="mailtitle" id="addTranMailSub"
                                                   placeholder="请输入邮件主题">
                                    </p>
                                    <p>邮件内容：<input type="text" name="mailcontext" id="addTranMailText"
                                                   style="height:100px;width: 450px"/>
                                    </p>
                                    <input type="reset" style="display:none;"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                ng-click="clearFilterPlugin('#addruleTransform')">关闭
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="subTransform()"
                                data-dismiss="modal">
                            确定
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

    </div>
</div>