<div ng-controller="abilityCtrl">
    <div clas="SMTitle">
        <div style="margin-top: 32px">
            <span class="header-line" style="font-size: 27px;font-weight: 600">服务管理
            <button style="margin-left:10px" class="btn btn-primary btn-sm" data-toggle="modal"
                    data-target="#addServiceGroup">+ 创建服务组
            </button>
            </span>
            <span class="SMsearch">
                <input class="span2" type="text" placeholder="输入设备类型">
                <button><span ng-click="searchDG()" title="搜索"><i class="glyphicon glyphicon-search"></i> </span></button>
            </span>
        </div>
    </div>

        <!--模块控件-->
    <div class="SMContainer">
        <div ng-repeat="items in abilityGroups">
            <div class="chooseBtn homeBackgroundstyle">
                <span data-toggle="modal" data-target="#SMDetail" class="items">
                <span title="服务管理"><i class="fa fa-cog homeIconstyle"></i></span>
                <p class="style">厂商：{{items.manufacture}}</p>
                <p class="style">设备类型：{{items.deviceType}}</p>
                <p class="style"> 设备型号：{{items.model}}</p>
                <br/></span>
                <span class="postionOne" data-toggle="modal" data-target="#createSM">
                <i class="glyphicon glyphicon-plus" title="创建服务"></i>
            </span>
                <span class="positionTwo" data-toggle="modal" data-target="#deleteSM">
                <i class="glyphicon glyphicon-trash" title="删除服务组"></i>
            </span>
            </div>
        </div>
        <!--
        <div class="chooseBtn homeBackgroundstyle">
                <span data-toggle="modal" data-target="#SMDetail">
                <span title="服务管理"><i class="fa fa-cog homeIconstyle"></i></span>
                <p class="style">厂商：{{vendor}}</p>
                <p class="style">设备类型：{{equipmentType}}</p>
                <p class="style"> 设备型号：{{equipmentModel}}</p>
                <br/></span>
            <span class="postionOne" data-toggle="modal" data-target="#createSM">
                        <i class="glyphicon glyphicon-plus" title="创建服务"></i>
                   </span>
            <span class="positionTwo" data-toggle="modal" data-target="#deleteSM">
                       <i class="glyphicon glyphicon-trash" title="删除服务组"></i>
                   </span>
        </div>


        <div class="chooseBtn homeBackgroundstyle">
                <span data-toggle="modal" data-target="#SMDetail">
                <span title="服务管理"><i class="fa fa-cog homeIconstyle"></i></span>
                <p class="style">厂商：{{vendor}}</p>
               <p class="style">设备类型：{{equipmentType}}</p>
                <p class="style"> 设备型号：{{equipmentModel}}</p>
                <br/></span>
            <span class="postionOne" data-toggle="modal" data-target="#createSM">
                        <i class="glyphicon glyphicon-plus" title="创建服务"></i>
                   </span>
            <span class="positionTwo" data-toggle="modal" data-target="#deleteSM">
                       <i class="glyphicon glyphicon-trash" title="删除服务组"></i>
                   </span>
        </div>-->
    </div>


        <!--创建服务组弹出界面-->
    <div class="modal fade" id="addServiceGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h3 class="modal-title" style="color: #305680;font-weight: 600">
                        创建服务组
                    </h3>
                </div>
                <div class="modal-body" id="abilityInfo">
                    <label class="col-sm-3 control-label" style="text-align: left">
                        <span style="color: red;">*</span>厂商
                    </label>
                    <input type="text" style="pixels: 300px" placeholder="必填" id="manufacturerName">
                </div>
                <div class="modal-body">
                    <label class="col-sm-3 control-label" style="text-align: left">
                        <span style="color: red;">*</span>设备类型
                    </label>
                    <input type="text" style="pixels: 300px" placeholder="必填" id="deviceType">
                </div>
                <div class="modal-body">
                    <label class="col-sm-3 control-label" style="text-align: left">
                        <span style="color: red;">*</span>设备型号
                    </label>
                    <input type="text" style="pixels: 300px" placeholder="必填" id="model">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="addAM()">
                        创建
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        取消
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--创建服务弹出界面-->
    <div class="modal fade" id="createSM" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h3 class="modal-title" style="color: #305680;font-weight: 600">
                        创建服务
                    </h3>
                </div>
                <div class="modal-body">
                    <b>服务名称</b>
                    <input class="form-control" type="text" style="pixels: 300px" placeholder="必填" ng-model="$parent.addGName">
                </div>
                <div class="modal-body">
                    <b>服务描述</b>
                    <input class="form-control" type="text" style="pixels: 300px" placeholder="必填" ng-model="$parent.addDGName">
                </div>
                <div class="modal-body">
                    <b>服务类型</b>
                    <select class="form-control" type="text" style="pixels: 300px" placeholder="必填" ng-model="$parent.add">
                        <option value="platform">platform</option>
                        <option value="thirdparty">thirdparty</option>
                    </select>
                </div>
                <div class="modal-body">
                    <b>请求回复</b>
                    <select class="form-control" type="text" style="pixels: 300px" placeholder="必填" ng-model="$parent.ad">
                        <option value="true">true</option>
                        <option value="false">false</option>
                    </select>
                </div>
                <div class="modal-body">
                    <b>服务体</b>
                    <input class="form-control" type="text" style="pixels: 300px" placeholder="必填" ng-model="$parent.addDGName">
                </div>
                <div class="modal-body">
                    <b>参数</b>
                    <input type="text" style="pixels: 300px" placeholder="形如(status:true`)" ng-model="$parent.addDGNae">
                    <span ng-click="">+</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="addSM()">
                        创建
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        取消
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--删除界面弹出框-->
    <div class="modal fade" id="deleteSM" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        删除服务组
                    </h4>
                </div>
                <div class="modal-body">
                    确定删除此服务组？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                    <button type="button" class="btn btn-primary"  ng-click="delSM()">
                        确定
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--弹出设备类型详情列表-->
    <div class="modal fade" id="SMDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        <caption><span style="color: #305680;font-weight: 600;font-size: 22px">{{equipmentType}}设备类型下的服务</span></caption>
                    </h4>
                    <!--<div style="margin-left: 0px">
                        <label>搜索：</label>
                        <input type="number" id="mServiceName" ng-model="mServiceName"/>
                    </div>添加搜索框-->
                </div>
                <table class="table table-hover table-bordered table-striped" id="searchTextResults">
                    <thead>
                    <tr class="bg-info">
                        <th>服务名称</th>
                        <th>服务类型</th>
                        <th>服务描述</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{Bmanagement.serviceName}}</td>
                        <td>{{Bmanagement.serviceType}}</td>
                        <td>{{Bmanagement.serviceDescription}}</td>
                        <td><button class="btn btn-sm btn-danger">删除</button></td>
                    </tr>
                    </tbody>
                </table>

            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>



</div>
	<!--made in card-->


     <!-- CONTENT-WRAPPER SECTION END-->
