<div ng-controller="abilityCtrl">


    <div clas="SMTitle">
        <div style="margin-top: 32px">
            <span class="header-line" style="font-size: 27px;font-weight: 600">能力管理
            <button style="margin-left:10px" class="btn btn-primary btn-sm" data-toggle="modal"
                    data-target="#addServiceGroup">+ 创建能力组
            </button>
            </span>
            <span class="SMsearch">
                <input class="span2" type="text" placeholder="输入设备类型" id="searchAbilityText">
                <button><span ng-click="searchAbility()" title="搜索"><i class="glyphicon glyphicon-search"></i> </span></button>
            </span>
        </div>
    </div>

        <!--模块控件-->
    <div class="abilityIcon">
        <!--左右分布控件模块-->
        <div ng-repeat="items in abilityGroups" ng-click="show(items)">
            <div class="chooseBtn abilityBackgroundstyle">
                <span title="能力管理"><i class="fa fa-cog homeIconstyle"></i></span>
                <span class="abilityPlus" data-toggle="modal" data-target="#createSM">
                <i class="glyphicon glyphicon-plus" title="创建能力"></i>
                </span>
                <span data-toggle="modal" class="abilityDelete" data-target="#deleteSM">
                <i class="glyphicon glyphicon-trash" title="删除能力组"></i>
                </span>
                <span data-toggle="modal" data-target="#SMDetail" class="items">
                <p class="style">厂商：{{items.manufacturer.manufacturerName}}</p>
                <p class="style">设备类型：{{items.deviceType.deviceTypeName}}</p>
                <p class="style"> 设备型号：{{items.model.modelName}}</p>
                </span>
            </div>
        </div>
    </div>
    <!--右侧表格分布-->
    <div class="abilityChart">
            <table class="table table-hover table-bordered table-striped" id="searchTextResults">
                <thead>
                <tr class="bg-info">
                    <th>服务名称</th>
                    <th>服务描述</th>
                    <th>服务类型</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="arr in arrs" class="arr">
                    <td>{{arr.abilityDes.serviceName}}</td>
                    <td>{{arr.abilityDes.serviceDescription}}</td>
                    <td>{{arr.abilityDes.deviceType}}</td>
                    <td><button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteAbility">删除</button></td>
                </tr>
                </tbody>
            </table>
    </div>

        <!--创建能力组弹出界面-->
    <div class="modal fade" id="addServiceGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h3 class="modal-title" style="color: #305680;font-weight: 600">
                        创建能力组
                    </h3>
                </div>
                <div class="modal-body" id="abilityInfo">
                    <label class="col-sm-3 control-label" style="text-align: left">
                        <span style="color: red;">*</span>厂商
                    </label>
                    <input type="text" style="pixels: 300px" placeholder="必填" id="manufacturerName">
                </div>
                <div class="modal-body">
                    <label class="col-sm-3 control-label" style="text-align: left">
                        <span style="color: red;">*</span>设备类型
                    </label>
                    <input type="text" style="pixels: 300px" placeholder="必填" id="deviceType">
                </div>
                <div class="modal-body">
                    <label class="col-sm-3 control-label" style="text-align: left">
                        <span style="color: red;">*</span>设备型号
                    </label>
                    <input type="text" style="pixels: 300px" placeholder="必填" id="model">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="addAM()">
                        创建
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        取消
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--创建能力弹出界面-->
    <div class="modal fade" id="createSM" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h3 class="modal-title" style="color: #305680;font-weight: 600">
                        创建服务
                    </h3>
                </div>
                <div class="modal-body">
                    <b>服务名称</b>
                    <input class="form-control" type="text" style="pixels: 300px" placeholder="必填" id="serviceName">
                </div>
                <div class="modal-body">
                    <b>服务描述</b>
                    <input class="form-control" type="text" style="pixels: 300px" placeholder="必填" id="serviceDescription">
                </div>
                <div class="modal-body">
                    <b>服务类型</b>
                    <select class="form-control" id="serviceType">
                        <option value="platform" selected="selected" id="option1">platform</option>
                        <option value="thirdparty" id="option2">thirdparty</option>
                    </select>
                </div>
                <div id="div1" style="display:none">
                    <div class="modal-body">
                        <b>协议</b>
                        <input class="form-control" type="text" style="pixels: 300px" id="protocol">
                    </div>
                    <div class="modal-body">
                        <b>URL</b>
                        <input class="form-control" type="text" style="pixels: 300px" id="url">
                    </div>
                </div>
                <div class="modal-body">
                    <b>请求回复</b>
                    <select class="form-control" type="text" id="requireResponce">
                        <option value="true">true</option>
                        <option value="false">false</option>
                    </select>
                </div>
                <div class="modal-body">
                    <span style="color: #8a6d3b;font-weight: 600;font-size: 20px">服务体</span>
                </div>
                <div class="modal-body">
                    <b>方法名</b>
                    <input class="form-control" type="text" style="pixels: 300px" placeholder="必填" id="methodName">
                </div>
                <div class="modal-body">
                    <b>参数</b>
                    <div style="width: 550px; height: 34px; border: 1px solid #ffffff;">
                        <input type="text" style="width: 33%; height:34px;float: left" placeholder="key" id="key">
                        <select class="form-control"type="text" style="width: 33%" id="type">
                            <option value="1" id="option3">1</option>
                            <option value="2" id="option4">2</option>
                            <option value="3" id="option5">3</option>
                        </select>
                            <div style="width: 33%; float: right;margin-top: -34px" id="value">
                                <div id="div2">
                                    <input type="text" style="width: 150px; height:34px" placeholder="value">
                                </div>
                                <div id="div3" style="width: 150px; height: 14px; border: 1px solid #ffffff;display:none">
                                    <input type="text" style="width: 50%;float: left; height:34px" placeholder="on">
                                    <input type="text" style="width: 50%;float: right; height:34px" placeholder="off">
                                </div>
                                <div id="div4" style="width: 150px; height: 14px; border: 1px solid #ffffff;display:none">
                                    <input type="text" style="width: 50%;float: left; height:34px" placeholder="min:0">
                                    <input type="text" style="width: 50%;float: right; height:34px" placeholder="mix:100">
                                </div>
                            </div>
                        <div style="margin-top: -28px;margin-left: 525px">
                            <i class="glyphicon glyphicon-plus" ng-click="CC.addPlus()"></i>
                        </div>
                        </div>
                    </div>

                    <!--div style="width: 550px; height: 34px; border: 1px solid #ffffff;" ng-repeat="(key,item) in itemc track by $index">
                        <input type="text" style="width: 33%; height:34px;float: left" placeholder="key">
                        <select class="form-control"type="text" style="width: 33%" id="select2">
                                <option value="1" id="option3">1</option>
                                <option value="2" id="option4">2</option>
                                <option value="3" id="option5">3</option>
                        </select>
                        <div style="width: 33%; float: right;margin-top: -34px">
                            <div id="div2">
                                <input type="text" style="width: 150px; height:34px" placeholder="value">
                            </div>
                            <div id="div3" style="width: 150px; height: 14px; border: 1px solid #ffffff;display:none">
                                <input type="text" style="width: 50%;float: left; height:34px" placeholder="on">
                                <input type="text" style="width: 50%;float: right; height:34px" placeholder="off">
                            </div>
                            <div id="div4" style="width: 150px; height: 14px; border: 1px solid #ffffff;display:none">
                                <input type="text" style="width: 50%;float: left; height:34px" placeholder="min:0">
                                <input type="text" style="width: 50%;float: right; height:34px" placeholder="mix:100">
                            </div>
                        </div>
                    </div-->

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="addAbility()">
                        创建
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        取消
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--删除能力组界面弹出框-->
    <div class="modal fade" id="deleteSM" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModaLabel">
                        删除能力组
                    </h4>
                </div>
                <div class="modal-body">
                    确定删除此能力组？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="delAG()">
                        确定
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--删除能力界面弹出框-->
    <div class="modal fade" id="deleteAbility" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        删除能力
                    </h4>
                </div>
                <div class="modal-body">
                    确定删除此能力？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                    <button type="button" class="btn btn-primary"  ng-click="deleteAA()">
                        确定
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>



</div>
	<!--选择框的值显示或隐藏文本框-->
<script>
    $('#serviceType').bind('change', function(){
        var val = $(this).val();
        switch(val){
            case 'platform': $('#div1').hide();  break;
            case 'thirdparty': $('#div1').show();  break;
        }
    });


    $('#type').bind('change', function(){
        var val = $(this).val();
        switch(val){
            case '1': $('#div2').show(); $('#div4, #div3').hide(); break;
            case '2': $('#div3').show(); $('#div2, #div4').hide(); break;
            case '3': $('#div4').show(); $('#div2, #div3').hide(); break;
        }
    });
</script>



