<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="mainApp">
<head>
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>物管理平台-用户</title>
    <link rel="icon" href="static/thingsManage/assets/img/Icon.icon" type="image/x-icon"/>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <!--<link href="static/thingsManage/assets/css/bootstrap.css" rel="stylesheet" />-->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet">
    <!-- FONTAWESOME STYLE CSS -->
    <!--<link href="static/thingsManage/assets/css/font-awesome.css" rel="stylesheet" />-->
    <link href="https://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
    <!-- CUSTOM STYLE CSS -->
    <link href="static/thingsManage/assets/css/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT CSS -->
    <link href='static/thingsManage/assets/css/font-Lobster.css' rel='stylesheet' type='text/css' />
    <!--ui-grid file-->
    <!--TOASTR STYLE CSS-->
    <link href="static/thingsManage/assets/css/toastr.css" rel="stylesheet" type="text/css"/>
    <!--<link href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.css" rel="stylesheet">-->

    <!--pagination-->
    <link href="static/thingsManage/assets/css/pagination.css" rel="stylesheet" type="text/css">

    <!--pager-->
    <link href="static/thingsManage/assets/css/pager.css" rel="stylesheet" type="text/css">

    <!--配置文件-->
    <script src = "static/thingsManage/assets/js/config.js"></script>

    <!-- MAIN ANGULAR SCRIPT -->
    <!--<script type="text/javascript" src="static/thingsManage/assets/js/jquery-1.11.1.js"></script>-->
    <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.js"></script>
    <!--<script type="text/javascript" src="static/thingsManage/assets/js/jquery.cookie.js"></script>-->
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <!--<script type="text/javascript" src="static/thingsManage/assets/js/angular.js"></script>-->
    <script src="https://cdn.bootcss.com/angular.js/1.6.9/angular.js"></script>
    <!--<script type="text/javascript" src="static/thingsManage/assets/js/angular-route.js"></script>-->
    <script src="https://cdn.bootcss.com/angular.js/1.6.9/angular-route.js"></script>
    <!--<script type="text/javascript" src="static/thingsManage/assets/js/angular-resource.js"></script>-->
    <script src="https://cdn.bootcss.com/angular.js/1.6.9/angular-resource.js"></script>
    <!--<script type="text/javascript" src="static/thingsManage/assets/js/angular-mocks.js"></script>&lt;!&ndash;测试用&ndash;&gt;-->
    <script src="https://cdn.bootcss.com/angular.js/1.6.9/angular-mocks.js"></script>
    <!--<script type="text/javascript" src="static/thingsManage/assets/js/angular-animate.js"></script>-->
    <script src="https://cdn.bootcss.com/angular.js/1.6.9/angular-animate.js"></script>

    <script type="text/javascript" src="static/thingsManage/assets/js/mainCtrl.js"></script>
    <script type="text/javascript" src="static/thingsManage/assets/js/homePageCtrl.js"></script>

    <!--HomePage-Dashboard-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

    <!--DeviceList-->
    <script type="text/javascript" src="static/thingsManage/assets/js/deviceListCtrl.js"></script>
    <script type="text/javascript" src="static/thingsManage/assets/js/toastr.js"></script>
    <!--<script src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>-->



    <!--DeviceGroup-->
    <script type="text/javascript" src="static/thingsManage/assets/js/deviceGroupCtrl.js"></script>

    <!--Rule-->
    <script type="text/javascript" src="static/thingsManage/assets/js/rulesCtrl.js"></script>

    <!--ServiceGroup-->
    <script type="text/javascript" src="static/thingsManage/assets/js/serviceCtrl.js"></script>
    <script type="text/javascript" src="static/thingsManage/assets/js/pluginCtrl.js"></script>
    <script type="text/javascript" src="static/thingsManage/assets/js/tenantCtrl.js"></script>
    <script type="text/javascript" src="static/thingsManage/assets/js/evaluateCtrl.js"></script>
    <script type="text/javascript" src="static/thingsManage/assets/js/deviceModelCtrl.js"></script>
    <!--Customer-->
    <script type="text/javascript" src="static/thingsManage/assets/js/customerCtrl.js"></script>
    <script type="text/javascript" src="static/thingsManage/assets/js/pager.js"></script>

    <!--CustomerUser-->
    <script type="text/javascript" src="static/thingsManage/assets/js/customerUserCtrl.js"></script>


    <!--Dashboard-->
    <script type="text/javascript" src="static/thingsManage/assets/js/widgetsLibraryCtrl.js"></script>
    <script type="text/javascript" src="static/thingsManage/assets/js/dashboardCtrl.js"></script>
    <!--plugins-->
    <script type="text/javascript" src="static/thingsManage/assets/js/sockjs.min.js"></script>
    <script type="text/javascript" src="static/thingsManage/assets/js/stomp.min.js"></script>

    <script type="text/javascript" src="static/thingsManage/assets/js/angular-file-upload.js"></script>


</head>
<body ng-controller="mainCtrl">

     <section class="sec-menu" >
        <div class="container"  style="margin: 0;width:100%;">
            <div class="row" id="head-menu">
                <div class="col-md-1 col-sm-1">
                    <span class="menu-open-icon">
                        <i class="fa fa-bars pull-left fa-2x b-clr"></i>
                    </span>
                </div>
                <div class="col-md-3 col-sm-12">
                   <span id="headMenuFont">
                       <marquee direction="left" onmouseover=this.stop() onmouseout=this.start() width=87% scrollamount="4"><i class="fa fa-home"></i>&nbsp;欢 迎 来 到 物 管 理 平 台 ！</marquee>
                   </span>
                </div>
                <div class="col-md-8 col-sm-12">

                    <span class="dropdown upSideMenu" id="userCenter">
                    <span class="dropdown-toggle" data-toggle="dropdown" id="dropQuit">
                        <i class="fa fa-user"></i>个人中心 &nbsp;<i class="fa fa-caret-down"></i>
                    </span>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> 当前用户：<span ng-cloak>{{currentUser}}</span></a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-line-chart"></i>用户等级：<span ng-cloak>{{currentUserLevel}}</span></a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="" ng-click="$location.path('tenantAdmin')"><i class="fa fa-gear fa-fw"></i> 设置 </a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> 退出登录</a>
                        </li>
                    </ul>
                    </span>
                    <span class="upSideMenu" id="backIcon"><i class="fa fa-reply"></i>返回上一级</span>

                </div>
            </div>
        </div>

     </section>

     <div id="side-menu">
        <ul>
             <li class="userMenu" style="border-bottom:0px;">
             <a href="#" title="close"> <i class="fa fa-close fa-2x menu-close-icon b-clr"></i></a>
            </li>
            <li class="side-menu-icon userMenu" id="homePage" style="margin-top: 14px;">
                <a href ="" title="首页" ng-click="$location.path('homePage')">
                    <i class="fa fa-home fontStyle"></i>
                    <span class="textStyle">首页</span>
                </a>
            </li>
            <li class="side-menu-icon tenantMenu" id="deviceModelManagement">
                <a href="" title="设备型号管理" ng-click="$location.path('deviceModelManagement')">
                    <i class="fa fa-wrench fontStyle"></i>
                    <span class="textStyle">设备型号管理</span>
                </a>
            </li>
            <li class="side-menu-icon userMenu" id="deviceList">
             <a href="" title="设备列表" ng-click="$location.path('deviceList')">
                 <i class="fa fa-file-text-o fontStyle"></i>
                 <span class="textStyle">设备列表</span>
             </a>
            </li>
            <li class="side-menu-icon userMenu" id="deviceGroup">
              <a href="" title="设备组" ng-click="$location.path('deviceGroup')">
                  <i class="fa fa-cubes fontStyle"></i>
                  <span class="textStyle">设备组</span>
              </a>
            </li>
            <li class="side-menu-icon userMenu" id="service">
              <a href="" title="服务管理" ng-click="$location.path('service')">
                  <i class="fa fa-cog fontStyle"></i>
                  <span class="textStyle">服务管理</span>
              </a>
            </li>
             <li class="side-menu-icon userMenu" id="plugins">
              <a href="" title="插件管理" ng-click="$location.path('plugins')">
                  <i class="fa fa-plug fontStyle "></i>
                  <span class="textStyle">插件管理</span>
              </a>
            </li>
            <li class="side-menu-icon userMenu" id="rules">
                <a href="" title="规则管理" ng-click="$location.path('rules')">
                    <i class="fa fa-link fontStyle "></i>
                    <span class="textStyle">规则管理</span>
                </a>
            </li>

            <li class="side-menu-icon userMenu" id="widgets">
                <a href="" title="组件库" ng-click="$location.path('widgetsLibrary')">
                    <i class="fa fa-cube fontStyle "></i>
                    <span class="textStyle">组件库</span>
                </a>
            </li>

            <li class="side-menu-icon userMenu" id="dashboard">
                <a href="" title="仪表盘" ng-click="$location.path('dashboard')">
                    <i class="fa fa-clock-o fontStyle "></i>
                    <span class="textStyle">仪表盘</span>
                </a>
            </li>

            <li class="side-menu-icon userMenu" id="evaluate">
                <a href="" title="用户手册" ng-click="$location.path('evaluate')">
                    <i class="fa fa-newspaper-o fontStyle "></i>
                    <span class="textStyle">用户手册</span>
                </a>
            </li>
            
        </ul>
           
    </div>

     <!--MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            <div ng-view></div>
        </div>
    </div>
    <!-- CONTENT-WRAPPER SECTION END-->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->

    <!-- BOOTSTRAP SCRIPTS  -->
    <!--<script type="text/javascript" src="static/thingsManage/assets/js/bootstrap.js"></script>-->
     <script src="https://cdn.bootcss.com/bootstrap/3.3.1/js/bootstrap.js"></script>
     <!-- CUSTOM SCRIPTS  -->
    <script type="text/javascript" src="static/thingsManage/assets/js/custom.js" ></script>

    <!-- pagination -->
    <script type="text/javascript" src="static/thingsManage/assets/js/pagination.js"></script>
     <!-- echarts -->
     <!--<script type="text/javascript" src="static/thingsManage/assets/js/echarts.js"></script>-->
     <script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.js"></script>
</body>
</html>
