<style type="text/css">
    /*2、margin负值法*/

    html,
    body {
        margin: 0;
        height: 100%;
    }

    #main {
        width: 100%;
        height: 100%;
        float: left;
    }

    #main #body {
        margin: 0 210px;
        /* background-color: #ffe6b8; */
        height: 100%;
    }

    #left,
    #right {
        width: 200px;
        height: 100%;
        float: left;
        /* background-color: #a0b3d6; */
    }

    #left {
        margin-left: -100%;
    }

    #right {
        margin-left: -200px;
    }
</style>


<ul class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li><a href="/"><i class="fa fa-camera"></i>  首页 </a></li>
    <li class="active">离线分析</li>
</ul>
<section class="panel panel-default">
    <div class="panel-body text-center">

        <div id="main">
            <div id="body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">横轴</label>
                        <div class="col-sm-10">
                            <!-- <div style="" class="form-control" id="" ng-model="dl" ondrop="drop(event)" ondragover="allowDrop(event)"></div> -->
                            <input type="text" disabled class="form-control" id="inputEmail3" ng-model="hz" ng-change="duliang()" style="width:542px;height:34px;border-bottom: black 1px solid;border-top-style: none;border-right-style: none;border-left-style: none;background-color: transparent;">

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">纵轴</label>
                        <div class="col-sm-10">
                            <input type="text" disabled class="form-control fc-day fc-thu fc-widget-content fc-other-month fc-past" id="inputPassword3" ng-model="zz" ng-change="weidu()" style="width:542px;height:34px;border-bottom: black 1px solid;border-top-style: none;border-right-style: none;border-left-style: none;background-color: transparent;">
                        </div>
                    </div>
                </form>
                <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="control-label">起始日期
                                        <input datetimepicker type="text" ng-model="bugLineStartDate" class="input-sm input-s form-control" size="16" ng-change=""
                                            maxdate="bugLineEndDate" option="dateOption">
                                            <!-- bugLineChange() -->
                                    </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label">结束日期
                                        <input datetimepicker ng-model="bugLineEndDate" class="input-sm input-s form-control" size="16" mindate="bugLineStartDate"
                                            type="text" ng-change="" option="dateOption" >
                                            <!-- bugLineChange() -->
                                    </label>
                        </div>
                    </form>
                <div>
                        <div ng-show="lineActive" >
                                <header class="panel-heading bg-light">
                                    温度折线视图
                                    </header> 
                    <my-line id="line" legend="legend" item="item" data="data" option="barOption"></my-line>
                    </div>
                    <div ng-show="barActive">
                    <header class="panel-heading bg-light">
                        温度直方视图
                        </header> 
                    <my-new-bar id="bar" legend="appLegend" item="appItem" data="appData" title="appTitle"></my-new-bar>
                </div>
                    <div ng-show="pieShow">
                    <header class="panel-heading bg-light">
                    PM2.5饼状视图
                    </header>                        
                    <div class="panel-body" ng-show="isLoadingBug">{{loadingTextBug}}</div>
                    
                    <ul id="bug-tab" class="nav nav-tabs">
                        <li><a href="#bug-summonth" data-toggle="tab">年初至今</a></li>
                        <li class="active"><a href="#bug-permonth" data-toggle="tab"> 月视图</a></li>
                    </ul>
                    <span style="float: right;"><b class="badge bg-info pull-right">本月总天数：30</b></span>
                    <my-pie id="pie" data="pieData"></my-pie>
                </div>
            </div>
            </div>
        </div>
        <div id="left">
            <div class="panel panel-default">
                <div class="panel-heading">
                    选择组件
                </div>
                <div class="panel-body">折线图
                    <button ng-click="line()" style="width: 32px;height: 32px;background-image:url('./assets/dataAnalyze/images/line.png')"></button>
                    <br>直方图<button ng-click="bar()" style="width: 32px;height: 32px;background-image:url('./assets/dataAnalyze/images/bar.png')"></button>
                    <br>饼状图<button ng-click="pie()" style="width: 32px;height: 32px;background-image:url('./assets/dataAnalyze/images/pie.png')"></button>
                </div>
            </div>
            <button class="btn btn-primary" style="margin:5px;" data-toggle="modal" data-target="#myModal">选择数据源</button>
            <div>
                    <aside class="aside-lg b-l">
                            <div class="padder">
                              <!-- <h4>字段展示</h4> -->
                              <div class="line"></div>
                              <div id="myEvents" class="pillbox clearfix m-b no-border no-padder">
                                <ul style='display:grid;'>
                                  <!-- <li class="label bg-dark" id="time;" ondrop="drop(event)" ondragover="allowDrop(event)"> -->
                                        <!-- <div  class="div"> -->
                                                <!-- <p draggable="true" ondragstart="drag(event)" id="time;" width="80" height="30"> 时间</p> -->
                                        <!-- </div> -->
                                  <!-- </li> -->
                                  <!-- <li class="label bg-dark" id="PM;" ondrop="drop(event)" ondragover="allowDrop(event)"> -->
                                        <!-- <div  class="div"> -->
                                                <!-- <p draggable="true" ondragstart="drag(event)" id="PM;" width="80" height="30"> PM2.5</p> -->
                                        <!-- </div> -->
                                  <!-- </li> -->
                                  <!-- <li class="label bg-dark" id="humidity;" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <p draggable="true" ondragstart="drag(event)" id="humidity;" width="80" height="30"> 温度</p>
                                  </li>
                                  <li class="label bg-dark" id="temprature;" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <p draggable="true" ondragstart="drag(event)" id="temprature;" width="80" height="30"> 湿度</p>
                                  </li> -->
                                  <!-- <li class="label bg-success">Item Two</li>
                                  <li class="label bg-warning">Item Three</li>
                                  <li class="label bg-danger">Item Four</li>
                                  <li class="label bg-info">Item Five</li>
                                  <li class="label bg-primary">Item Six</li> -->
                                  <!-- <input type="text" placeholder="add an event"> -->
                                </ul>
                              </div>
                              <div class="line"></div>
                              <!-- <div class="checkbox">
                                <label class="checkbox-custom">
                                  <input type='checkbox' id='drop-remove' />
                                  <i class="fa fa-square-o"></i> remove after drop</label>
                              </div>
                            </div> -->
                          </aside>


                <!-- <div id="time;" class="div" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <p draggable="true" ondragstart="drag(event)" id="time;" width="80" height="30"> 时间</p>
                </div>
                <div id="humidity;" class="div" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <p draggable="true" ondragstart="drag(event)" id="humidity;" width="80" height="30"> 湿度</p>
                </div>
                <div id="temprature;" class="div" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <p draggable="true" ondragstart="drag(event)" id="temprature;" width="80" height="30"> 温度</p>
                </div> -->
            </div>
        </div>
        <div id="right">
            <div class="panel panel-default">
                <div class="panel-heading">
                    控制面板
                </div>
                <div class="panel-body">
                        <section class="panel panel-default" style="margin: -15px;">
                                <header class="panel-heading bg-light">
                                  <ul class="nav nav-tabs nav-justified">
                                    <li class="active"><a href="#home" data-toggle="tab">样式</a></li>
                                    <li><a href="#profile" data-toggle="tab">数据</a></li>
                                  </ul>
                                </header>
                                <div class="panel-body">
                                  <div class="tab-content">
                                    <div class="tab-pane active" id="home">样式设置</div>
                                    <div class="tab-pane" id="profile">数据配置，如读取频率</div>
                                  </div>
                                </div>
                              </section>
              
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <select class="form-control">
                    <option value="">温度</option>
                    <option value="">湿度</option>
                    <option value="">PM2.5</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function allowDrop(ev) {
        ev.preventDefault();

    }

    function drag(ev) {
        ev.dataTransfer.setData("Text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("Text");
        ev.target.appendChild(document.getElementById(data));
    }
</script>

<!-- <link rel="stylesheet" href="./assets/dataAnalyze/css/app.v2.css" type="text/css" />
<link rel="stylesheet" href="./assets/dataAnalyze/libs/fuelux/fuelux.css" type="text/css" />
<link rel="stylesheet" href="./assets/dataAnalyze/libs/fullcalendar/fullcalendar.css" type="text/css" />
<link rel="stylesheet" href="./assets/dataAnalyze/libs/fullcalendar/theme.css" type="text/css" />
<script src="./assets/dataAnalyze/libs/app.v2.js"></script>
<script src="./assets/dataAnalyze/libs/fuelux/fuelux.js" cache="false"></script>
<script src="./assets/dataAnalyze/libs/jquery-ui-1.10.3.custom.min.js" cache="false"></script>

<script src="./assets/dataAnalyze/libs/jquery.ui.touch-punch.min.js" cache="false"></script>
<script src="./assets/dataAnalyze/libs/fullcalendar/demo.js" cache="false"></script>

<script src="./assets/dataAnalyze/libs/fullcalendar/fullcalendar.min.js" cache="false"></script> -->