
/*======================================
    GENERAL STYLES
======================================= */

.b-clr {
    color:#000;
}
.sec-menu {
    background-color:#305680;
    padding-top:20px;
    padding-bottom:15px;
    color:#fff;
    font-size:22px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.content-wrapper {
    min-height:1000px;
    background: rgb(238,238,238);
    padding-left: 6%;
    margin-top: 4%;
}
.content-wrapper .container{
    width: 100%;
}
    /* =============================================================
    HEAD MENU STYLES
    ============================================================ */
.upSideMenu{
    font-size: 16px;
    margin-left: 25px;
}
#firstSpan{
    margin-left: 70px;
}
#quit,#backIcon{
    cursor: pointer;
}
#headMenuFont{
    /*color: #cacaca;*/
    font-family: 'Adobe 黑体 Std R';
    font-size: 26px;
    font-weight: bold;
    margin-left: 50px;
}





/* =============================================================
   SIDE MENU STYLES
 ============================================================ */

#side-menu {
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #305680;
    color: #fff;
    z-index: 999;
    overflow: auto;
    max-width: 500px;

}

    #side-menu ul {
        list-style: none;
        padding: 0px;
    }

        #side-menu ul li {
            border-bottom: 1px solid #2a4c70;
            text-align: left;
        }
        #side-menu ul .userMenu{
            padding: 17px 25px;
        }
        #side-menu ul .systemMenu{
            padding: 17px 25px;
        }
        #side-menu ul .tenantMenu{
            padding: 15px 25px;
        }

        #side-menu ul li a i {
                        padding-right: 10px;
                    }

            #side-menu ul li a, #side-menu ul li a:hover {
                color: #cad4df;
                text-decoration: none;
                font-size: 16px;
            }

.menu-close-icon, .menu-open-icon {
    cursor: pointer;

}
.fontStyle{
    font-size: 20px;
}
.textStyle{
    font-size: 18px;
    font-weight: bold;
}
#searchKey{
    height: 34px;
}
#attrSelectInfoTd{
    vertical-align: middle;
}





/* =============================================================
ICON STYLES
============================================================ */

ul,li{
    list-style: none;

}

.homeIconBackground{
    width: 200px;
    height: 200px;
    background:#305680;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 150px;
    float: left;
    cursor: pointer;

}
.homeIcon{

    color: #ffffff;
    font-size: 50px;
    margin-top: 50px;
    margin-left: 70px;
}
.homeIconName{
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}
.chooseBtn{
    margin-top: 25px;
    margin-left: 20px;
    cursor: pointer;
    padding: 20px;
    width: 150px;
    height: 100px;
    border: 2px solid #c0c0c0;
    float: left;
    border-radius: 10px;
    background: white;
}
.chooseBtn div i{
    color: #305680;
    font-size: 30px;
    text-align: center;
    display: block;
}
.chooseBtn div p{
    text-align: center;
    margin-top: 10px;
}

/* =============================================================
DEVICELIST STYLES
============================================================ */
#deviceListIcon,#customerIcon,#customerUserIcon{
    width: 48%;
    float: left;
    padding-left: 10px;
}

#deviceListChart,#customerChart,#customerUserChart{
    width: 35%;
    float: right;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 10px;
    position: fixed;
    right: 1%;
    top: 18%;
}
#cancelAssign{
    float: right;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    color: #305680;
    border-color: #adadad;
    border-width: 0.5px;
}

.attName{
  font-weight: bold;
  width: 150px;
  text-align: center;
}

.inputInfo{
    width: 90%;
}

.input-err{

    border: 2px solid #ff3c3c;
}
.showForm table tbody tr td{
   width: 30%;
   text-align: center;
}
.boldForm{
    font-weight: bold;

}
.highlight{
    color: #305680;
}
.divide-line{
    border-top: 2px solid #c0c0c0;
}
.ctrlDivBtn{
    margin-left: 60px;
    margin-top: 5px;
}
.pagination li{
    cursor: pointer;
}
#preDevice,#nextDevice{
    margin-top: 17%;
    width: 2%;
    height: 30px;
    float: left;
    background: #c0c0c0;
    opacity: 0.3;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    color: #7e7e7e;
}
#nextDevice{
    margin-right: 40px;
}
.service-panel{
    background: #c0c0c036;
    border-radius: 10px;
}
.service-panel legend{
    text-align: center;
}
#showHistory,#showEvent{
    font-size:20px;
    margin-left:10px;
    cursor:pointer;
    color:#305680;
}
#showEventTable th,#showEventTable tr{
    width: 20%;
    text-align: center;
}

/* =============================================================
   DeviceGroup
 ============================================================ */
.DG_Main_View{
    margin: 50px -50px 0 60px;
    overflow: hidden;
}
.LeftView{
    margin-right: 48%;
    min-width: 560px;
}
.DGTitle{
    margin:5px 0 0 10px;
}
.DGminTitle{
    overflow: hidden;
}
.SearchDG{
    float: right;
    height: 20px;
    margin-top: 10px;
    margin-right:20px;
    width: 180px;
}
.Searchicon{
    margin-left: -25px;
    color:#adadad;
}
.showEmpty{
    text-align: center;
    padding-top: 150px;
    font-size: 30px;
    color: #adadad ;
}

/* =============================================================
   DeviceGroupAssign
 ============================================================ */
.RightView{
    float: right;
    padding-top: 10px;
    width:45%;
    min-width: 350px;
    height:1000px;
}
.RightviewTitle{
    font-size: 20px;
}
.item{
    margin:15px 20px;
}
.gridStyle{
    border:1px solid rgb(212,212,212);
    margin: 0 0 10px 0;
}
.DGgridstyle{
    height: 270px;
}
.shand{
    cursor:pointer;
}
.DGAssignContainer{
    border:1px solid rgb(212,212,212);
    background-color: #fdfdfd;
    margin:5px 0 0 0;
}
.iedit{
    margin-left:5px;
}
#deviceGroupEmpty{
    color: #adadad;
    font-size: large;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
/* =============================================================
   Rule
 ============================================================ */
.RulegridStyle{
    height: 60px;
}
.RuleBtn{
    width:175px ;
    margin-left: 20px;
    padding:15px 5px;
}
.ruleiconcontainer{
    float: right;
    margin: 5px 10px;
}
.ruleicon{
    margin:0 5px;
}
.ruleicon:hover{
    color: #df5b58;
}
#RuleModalInput{
    margin-top: 15px;
    width: 450px;
    height: 125px;
}
.stateActive{
    color: #33ce2d;
}
.stateNActive{
    color: #ff5945;
}
.addfiltertab{
    width:530px;
    margin-left: 20px;
}
.StarMark{
    font-size: 15px;
    margin-right:5px;
    color: red;
}
.alertempty{
    display:none;
    color: red;
}
/* =============================================================
serviceGroup
============================================================ */
.abilityBackgroundstyle{
    width: 235px;
    height: 145px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 15px;
    float: left;

    cursor: pointer;
    padding: 20px;
    border: 2px solid #c0c0c0;
    background: white;

}
.homeIconstyle{

    color:  #305680;
    font-size: 30px;
    margin-top: -7px;
    margin-left: 0px;
}
.abilityPlus{
    float: right;
    font-size: x-large;
    color: #305680;
    margin-top: -10px;
}
.abilityDelete{
    font-size: large;
    margin-top: -10px;
    margin-left: 8px;
}
.style{
    color:  #305680;
    font-size: 15px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 5px;
}
.mainDiv{
    margin: 100px 210px 75px 350px;
}
.positionThree{
    margin-left: 650px;
    margin-bottom: 0px;
}
.positionFour{
    margin-left: 430px;
}
.positionFive{
    margin-right: auto;
}
.span2{
    margin-left: 666px;
}
.abilityChart{
    margin:30px 0 0 670px;
    padding-top: 5px;
    width:460px;
    height:516px;
    overflow-y: auto;
    float: right;
    margin-left: 790px;
    position: fixed;
    background: rgba(255,253,255,0.69);
    border-radius: 5px;
}
.abilityIcon{
    width: 70%;
    float: left;
    padding-top:10px;

}

/* =============================================================
pluginsGroup
============================================================ */
.upperLayout{
    height: 110px;
    width: 73%;
    float: left;
    background: #c0c0c036;
    margin: 6px 10px 5px -45px;
}

.pluginActiveposition{
    margin-left: 250px;
    color: #305680;
    font-size: large;
    margin-top: -50px;
}
.pluginStopposition{
    margin-left: 250px;
    color: #305680;
    font-size: large;
}
.header-line{
    font-size: 30px;
    font-weight: 600;
    margin-left: 30px;
    font-family: Microsoft YaHei;

}
.stylePulgin{
    color:  #305680;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}
.homeBackgroundstyle{
    margin: 30px 10px 0 20px;
    cursor: pointer;
    padding: 20px;
    width: 150px;
    height: 100px;
    border: 2px solid #c0c0c0;
    float: left;
    border-radius: 10px;
    background: white;

}
.pluginChart{
    background: #c0c0c036;
    width:505px;
    height:240px;
    margin:6px 10px 0 795px;
    padding-top: 5px;
    float: right;
    font-family: inherit;
    position: fixed;
}
.lowerLayout{
    width: 73%;
    height: 1000px;
    float: left;
    padding-top:10px;
    background: #c0c0c036;
    margin: 1px 10px 5px -45px;
}
.pluginIcon{
    float: left;
    margin-left: 10px;
}
.positionTwo{
    margin-left: 25px;
}
.postionOne{
    margin-left: 180px;

}
.btnPosition{
    margin-top: 20px;
    margin-left: 20px;
}
.PluginInfo{
    font-size: 23px;
    color: #305680;
    font-weight: 500;
    padding: 5px;
    margin-left: 20px;
}
.displayPosition{
    margin-left: 20px;
    font-size: 15px;
    color: #0f0f0f;
    font-weight: 400;
}
.displayInterface{
    background: #c0c0c036;
    margin:252px 10px 0 795px;
    padding-top: 5px;
    width:505px;
    height:415px;
    float: right;
    position: fixed;
    overflow: auto;

}
.PluginInterfaceInfo{
    font-size: 23px;
    color: #305680;
    font-weight: 500;
    padding: 5px;
    margin-left: 20px;
}
.interfaceInfo {
    margin-left: 20px;
    font-size: 14px;
    color: #0f0f0f;
    font-weight: 400;
}
.interfaceInfo ul li{
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding: 6px;

}
.interName{
    margin-left: 90px;
}
.inlinInter{
    color: #305680;
    border: 1px solid #CCC;
    border-radius:5px;
    font-weight: 500;
}
#box{
    width:400px;
    height:40px;
    border:1px solid #ccc;
    padding:10px;
    overflow:hidden;
    font-size:12px;
    margin-left: 190px;
    margin-top: -35px;
}
#box ul li{
    line-height:25px;
    text-align:center;
    list-style:none;
}

/* =============================================================
    HomePage
 ============================================================ */
.content{
    margin:30px 0 0 70px;
    height:100%;
    overflow:hidden;
}
.block{
    min-height: 210px;
    width: 30%;
    float: left;
    border: 1px solid rgba(43, 76, 227, 0.2);
    margin:10px 15px;
    text-align: center;
}
.block_number{
    font-size: 80px;
    font-weight: bold;
    color: #3a87ad;
}
.block_title{
    font-size: 25px;
    color: #1964ad;
    padding-top: 15px;
}
.no_broadcast{
    text-align: center;
    font-size: 25px;
    line-height: 200px;
    color: rgba(43, 76, 227, 0.4);
}
/* =============================================================
        Dashboard
============================================================ */
.left_Dashboard{
    position: fixed;
    bottom:0px;
    width: 200px;
    border-right: 1px solid #ffffff;
    height: 83%;
    overflow-y: scroll;
}
.left_Dashboard::-webkit-scrollbar {display:none;}
#dblist_title{
    font-size: 20px;
}
.right_Dashboard{
    margin-left:220px ;
}
.dashboard{
    margin-left: 0;
    height: 120px;
    width: 180px;
    padding-top: 30px;
}
.dashboard_add{
    border-style: dashed;
    cursor: pointer;
}
.db_add_item{
    text-align: center;
    font-size: 20px;
    color: #c0c0c0;
    line-height: 40px
}
.dbwidget_add_item{
    line-height: 250px;
    text-align: center;
    font-size: 25px;
    color: rgba(43, 76, 227, 0.4);
}
.dashboard_item{
    float: left;
    width: 47%;
    margin: 15px 5px;
    border: 1px solid rgba(25, 100, 173, 0.5);
    min-height: 270px;
}
#addDBwidget_table tr{
    height: 40px;
}
/*=======================================tenantGroup===========================================*/
.parent{
    text-align: center;
}
.tenantLoyout{
    position: absolute;
    left: 184px;
    top:88px;
    background: #c0c0c036;
    height: 100px;
    width: 785px;
}
.tenantRow{
    position: absolute;
    left: 184px;
    top: 195px;
    background: #c0c0c036;
    width: 785px;
    height: 600px;
}
.tenantRight{
    position: absolute;
    margin-left: 765px;
    top:88px;
    height: 640px;
    width: 535px;
    background: #c0c0c036;
}
.tenantHeader{
    float: left;
    font-size: 30px;
    font-weight: 600;
    margin-left: 30px;
    margin-top: 30px;
    font-family: Microsoft YaHei;
}
#tenantDetail ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #afd9ee;
    position: fixed;
    top: 94px;
    width: 520px;
    margin-left: 7px;
}
#tenantDetail li {
    float: left;
}
#tenantDetail li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#tenantDetail li a:hover:not(.active) {
    background-color: #337ab7;
}
#tenantDetail .active {
    background-color: #337ab7;
}
#tenantDetail .right{
    float:right;
}
#detailShow{
    padding:15px;
    margin-top:30px;
    margin-left: 7px;
    background-color: #ffffff;
    height:610px;
    width: 520px;
    top: 110px;
    border-bottom: 2px solid #c0c0c0;
    border-left: 2px solid #c0c0c0;
    border-right: 2px solid #c0c0c0;
    position: fixed;

}
#detailShow h2{
    color: #337ab7;
    font-family: "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
    padding-bottom: 20px;
}
.lineSpacing{
    padding-top: 10px;
    text-align: left;
    font-family: 微软雅黑;
}
.underLine{
    border-bottom:1px solid #000000;
}
#tenantAdministrator{
    padding:15px;
    margin-top:30px;
    margin-left: 7px;
    background-color: #ffffff;
    height:615px;
    width: 520px;
    top: 110px;
    border-bottom: 2px solid #c0c0c0;
    border-left: 2px solid #c0c0c0;
    border-right: 2px solid #c0c0c0;
    position: fixed;
    overflow-y: auto;

}
#tenantAue #tenantTow #tenantThere #createManager{
    cursor:hand;
}
#tenantAdministrator h2{
    color: #337ab7;
    font-family: "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
    padding-bottom: 20px;
    text-align: left;
}
#tenantAdministrator table{
    border: 1px solid #337ab7;

}
#tenantAdministrator th{
    height: 50px;
    text-align: center;
}
#tenantAdministrator td{
    height: 40px;
}
